<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
layout:decorate="@{layout/default-sw}">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<th:block layout:fragment="customContents">
<!-- Content Wrapper. Contains page content -->
	<div class="content-wrapper">
	<!-- Content Header (Page header) -->
		<div class="content-header">
			<div class="container-fluid">
				<div class="row mb-2">
					<div class="col-sm-6">
						<h1 class="m-0" th:text="${title}"></h1>
					</div><!-- /.col -->
					<div class="col-sm-6">
						<ol class="breadcrumb float-sm-right">
							<li class="breadcrumb-item"><a href="#">Home</a></li>
							<li class="breadcrumb-item active">Starter Page</li>
						</ol>
					</div><!-- /.col -->
				</div><!-- /.row -->
			</div><!-- /.container-fluid -->
		</div>
	<!-- /.content-header -->
	
	<!-- Main content -->
		<div class="content">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<div class="card">
							<div class="card-header">
								<h5 class="card-title" th:text="${title}"></h5>
							</div>
							<form id="addExpenseForm" th:action="@{/sw/accounting/addExpense}" method="post" class="form-horizontal">
								<div class="card-body">
								
									<div class="form-group row">
										<label class="col-sm-2 col-form-label text-right">지출코드 : </label>
										<div class="col-sm-8">
											<input type="text" class="form-control" id="swExpensePayCode" name="swExpensePayCode" readonly="readonly">
										</div>
									</div>
								
									<div class="form-group row">
										<label class="col-sm-2 col-form-label text-right">계정과목명 : </label>
										<div class="col-sm-8">
											<select name="swIsName">
												<option value="1">1</option>
												<option value="2">2</option>
												<option value="3">3</option>
												<option value="4">4</option>
												<option value="5">5</option>
											</select>
										</div>
									</div>
								
									<div class="form-group row">
										<label class="col-sm-2 col-form-label text-right">적요 : </label>
										<div class="col-sm-8">
											<input type="text" class="form-control" id="swExpenseInfo" name="swExpenseInfo">
										</div>
									</div>
								
									<div class="form-group row">
										<label class="col-sm-2 col-form-label text-right">등록자 : </label>
										<div class="col-sm-8">
											<input type="text" class="form-control" id="memberId" name="memberId" readonly="readonly">
										</div>
									</div>
									
									<div class="form-group row">
										<label class="col-sm-2 col-form-label text-right">금액 : </label>
										<div class="col-sm-8">
											<input type="text" class="form-control" id="swExpensePrice" name="swExpensePrice">
										</div>
									</div>
									<div class="card-footer">
										<button type="submit" class="btn btn-primary" id ="addExpenseBtn"> 등록 </button>
										<button type="button" class="btn btn-default float-right" id="cancleExpenseBtn"> 취소 </button>
									</div>
								</div>
							</form>
						</div>
					</div>
					<!-- /.row -->
				</div>
				<!-- /.container-fluid -->
			</div>
	    	<!-- /.content -->
		</div>
	</div>
<!-- /.content-wrapper -->
</th:block>
</html>