<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
layout:decorate="@{layout/default-sw}">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<th:block layout:fragment="customContents">
<!-- Content Wrapper. Contains page content -->
	<div class="content-wrapper">
	<!-- Content Header (Page header) -->
		<div class="content-header">
			<div class="container-fluid">
				<div class="row mb-2">
					<div class="col-sm-6">
						<h1 class="m-0" th:text="${title}"></h1>
					</div><!-- /.col -->
					<div class="col-sm-6">
						<ol class="breadcrumb float-sm-right">
							<li class="breadcrumb-item"><a href="#">Home</a></li>
							<li class="breadcrumb-item active">Starter Page</li>
						</ol>
					</div><!-- /.col -->
				</div><!-- /.row -->
			</div><!-- /.container-fluid -->
		</div>
	<!-- /.content-header -->
	
	<!-- Main content -->
		<div class="content">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<div class="card">
							<div class="card-header">
								<h5 class="card-title" th:text="${title}"></h5>
							</div>
							<div class="card-body" >
								<table class="table table-hover table-coondensed" style="text-align: center;">
									<thead>
										<tr>
											<th>#</th>
											<th>요청코드</th>
											<th>계정과목</th>
											<th>마감자</th>
											<th>전자계산서</th>
											<!-- <th>등록자</th> -->
											<th>회계통합 그룹코드</th>
											<th>그룹전표</th>
											<th>계정과목</th>
											<th>적요</th>
											<th>마감일</th>
											<!-- <th>마감유무</th> -->
											<th>등록일</th>
										</tr>
									</thead>
									<tbody>
										<tr th:if="${not #lists.isEmpty(incomelist)}" th:each="il : ${incomelist}">
											<td th:text="${il.swIncomeCode}"></td>
											<td th:text="${il.contractManageCode}"></td>
											<td th:text="${il.swIsCode}"></td>
											<td th:text="${il.memberIdFinish}"></td>
											<td th:text="${il.invoiceCode}"></td>
											<!-- <td th:text="${il.memberId}"></td> -->
											<td th:text="${il.swGroupSlip}"></td>
											<td th:text="${il.swSlipNumber}"></td>
											<td th:text="${il.swIsName}"></td>
											<td th:text="${il.swIncomeInfo}"></td>
											<td th:text="${il.swIncomeFinishDate}"></td>
											<!-- <td th:text="${il.swIncomeFinish}"></td> -->
											<td th:text="${il.swIncomeRegDate}"></td>
										</tr>
										<tr th:unless="${not #lists.isEmpty(incomelist)}">
											<td>데이터가 없습니다.</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<!-- /.row -->
				</div>
				<!-- /.container-fluid -->
			</div>
	    	<!-- /.content -->
		</div>
	</div>
<!-- /.content-wrapper -->
</th:block>
</html>