<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/default-sw}">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<th:block layout:fragment="customJs">
	<script>
		
	</script>
</th:block>


<th:block layout:fragment="customContents">
	<!-- Content Wrapper. Contains page content -->
	<div class="content-wrapper">
		<!-- Content Header (Page header) -->
		<div class="content-header">
			<div class="container-fluid">
				<div class="row mb-2">
					<div class="col-sm-6">
						<h1 class="m-0" th:text="${title}"></h1>
					</div>
					<!-- /.col -->
					<div class="col-sm-6">
						<ol class="breadcrumb float-sm-right">
							<li class="breadcrumb-item"><a href="/sw/index-sw">Home</a></li>
						</ol>
					</div>
					<!-- /.col -->
				</div>
				<!-- /.row -->
			</div>
			<!-- /.container-fluid -->
		</div>
		<!-- /.content-header -->
		<!-- Main content -->
		<div class="content">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<!-- 박스 시작 -->
						<!-- Small boxes (Stat box) -->
						<div class="row">
							<div class="col-lg-4 col-6">
								<!-- small box -->
								<div class="small-box bg-info">
									<div class="inner">
										<h3 th:text="${service.contractStateCode}"></h3>
										<p>공급중인 사업장 수</p>
									</div>
									<div class="icon">
										<i class="ion ion-stats-bars"></i>	
									</div>
									<a href="#" class="small-box-footer">바로가기 <i
										class="fas fa-arrow-circle-right"></i></a>
								</div>
							</div>
							<!-- ./col -->
							<div class="col-lg-4 col-6">
								<!-- small box -->
								<div class="small-box bg-success">
									<div class="inner">
										<h3 th:text="${wating.count}">
											<sup style="font-size: 20px">%</sup>
										</h3>
										<p>서비스 결제대기</p>
									</div>
									<div class="icon">
										<i class="ion ion-bag"></i>
									</div>
									<a href="/sw/service/servicePaymentSum" class="small-box-footer">바로가기 <i
										class="fas fa-arrow-circle-right"></i></a>
								</div>
							</div>
							<!-- ./col -->
							<div class="col-lg-4 col-6">
								<!-- small box -->
								<div class="small-box bg-warning">
									<div class="inner">
										<h3 th:text="${client.count}"></h3>
										<p>회원</p>
									</div>
									<div class="icon">
										<i class="fas fa-users"></i>
									</div>
									<a href="/sw/business/selectBusiness" class="small-box-footer">바로가기<i
										class="fas fa-arrow-circle-right"></i></a>
								</div>
							</div>
							<!-- ./col -->

						</div>
						<!-- /.row -->
					</div>
					<!-- /.col-md-6 -->

					<div class="col-lg-12">
						<div class="card">
							<div class="card-header">
								<h5 class="m-0">서비스 판매현황</h5>
							</div>
							<div class="card-body">
								<h6 class="card-title col-md-12"></h6>
								<!-- 판매현황 테이블 시작 -->
								<table class="table table-hover table-condensed"
									style="font-size: 13px; text-align: center">
									<thead>
										<tr>
											<th>순위</th>
											<th>구분</th>
											<th>서비스명</th>
											<th>서비스가격</th>
											<th>판매실적</th>
											<th style="width : 10%">실적</th>
										</tr>
									</thead>
									<tbody id="myTable">
										<tr th:if="${not #lists.isEmpty(percent)}"
											th:each="p, count: ${percent}">
											<td th:text="${count.count}"></td>
											<td th:text="${p.serviceCode}"></td>
											<td th:text="${p.serviceName}"></td>
											<td th:text="${#numbers.formatInteger(p.servicePrice, 0, 'COMMA')}"></td>
											<td
												th:text="${#numbers.formatInteger(p.serviceTotalPrice, 0, 'COMMA')}"></td>
											<!-- 실적 퍼센트 -->
											<td th:if="${p.percent} > '50'"><span
												class="badge badge-danger float-right"
												th:text="${p.percent}+'%'" style="display: center"></span></td>
												
											<td th:if="${p.percent} <= '50' and ${p.percent} >'20'">
												<span class="badge badge-warning float-right"
												th:text="${p.percent}+'%'" ></span>
											</td>
											
											<td th:if="${p.percent} <= '20'"><span
												class="badge badge-success float-right"
												th:text="${p.percent}+'%'"></span></td>
										<tr th:unless="${not #lists.isEmpty(percent)}">
											<td>표시할 내용이 없습니다</td>
										</tr>
									</tbody>
								</table>
								<!-- 판매현황 테이블 끝  -->
							</div>
						</div>
					</div>
				</div>
				<!-- /.row -->
			</div>
			<!-- /.container-fluid -->
		</div>
		<!-- /.content -->
	</div>
	<!-- /.content-wrapper -->

</th:block>
</html>