<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/default-sw}">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<th:block layout:fragment="customContents">
	<!-- Content Wrapper. Contains page content -->
	<div class="content-wrapper">
		<!-- Content Header (Page header) -->
		<div class="content-header">
			<div class="container-fluid">
				<div class="row mb-2">
					<div class="col-sm-6">
						<h1 class="m-0">사업장 등록</h1>
					</div>
					<!-- /.col -->
					<div class="col-sm-6">
						<ol class="breadcrumb float-sm-right">
							<li class="breadcrumb-item"><a href="#">Home</a></li>
							<li class="breadcrumb-item active">Starter Page</li>
						</ol>
					</div>
					<!-- /.col -->
				</div>
				<!-- /.row -->
			</div>
			<!-- /.container-fluid -->
		</div>
		<!-- /.content-header -->

		<!-- Main content -->
		<div class="content">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<div class="card">
							<div class="card-body">
								<div class="form-group">
									<label class="col-sm-2 col-sm-2 control-label">사업장 등록코드</label>
									<div class="col-sm-4">
										<select id="genderCate" class="form-control">
											<option value="">::사업장 등록코드 선택::</option>
												<option>1</option>
												<option>2</option>
												<option>3</option>
												<option>4</option>
												<option>5</option>
												<option>6</option>
												<option>7</option>
												<option>8</option>
												<option>9</option>
												<option>10</option>
												<option>11</option>
												
										</select>
									</div>
								</div>

								<div class="form-group">
									<label class="col-sm-2 col-sm-2 control-label">회원아이디</label>
									<div class="col-sm-4">
										<input class="form-control" type="text" id="selectMemberName">
									</div>
								</div>

								<div class="form-group">
									<label class="col-sm-2 col-sm-2 control-label">지역 코드</label>
									<div class="col-sm-4">
										<select id="genderCate" class="form-control">
											<option value="">::지역 코드 선택::</option>
										</select>
									</div>
								</div>

								<div class="form-group">
									<label class="col-sm-2 col-sm-2 control-label">사업자 등록 승인자</label>
									<div class="col-sm-4">
										<input class="form-control" type="text" id="swMemberName">
									</div>
								</div>

								<div class="form-group">
									<label class="col-sm-2 col-sm-2 control-label">사업장 명</label>
									<div class="col-sm-4">
										<select id="businessName" class="form-control">
											<option value="">::사업장명 선택::</option>
										</select>
									</div>
								</div>


								<div class="form-group">
									<label class="col-sm-2 col-sm-2 control-label">사업장 대표자명</label>
									<div class="col-sm-2">
										<input class="form-control" type="text"
											id="businessRepresentativeName">
									</div>
								</div>

								<div class="form-group">
									<label class="col-sm-2 col-sm-2 control-label">사업자 번호</label>
									<div class="col-sm-4">
										<input class="form-control" type="text" id="businessNumber">
									</div>
								</div>

								<div class="form-group">
									<label class="col-sm-2 col-sm-2 control-label">사업장 전화번호</label>
									<div class="col-sm-4">
										<input class="form-control" type="text" id="businessPhone">
									</div>
								</div>

								<div class="form-group">
									<label class="col-sm-2 col-sm-2 control-label">사업장 상세주소</label>
									<div class="col-sm-4">
										<input class="form-control" type="text" id="businessAddr">
									</div>
								</div>

								<div class="form-group">
									<label class="col-sm-2 col-sm-2 control-label">사업장 이메일</label>
									<div class="col-sm-4">
										<input class="form-control" type="text" id="businessEmail">
									</div>
								</div>

								<div class="form-group">
									<label class="col-sm-2 col-sm-2 control-label">업태</label>
									<div class="col-sm-4">
										<input class="form-control" type="text" id="businessType1">
									</div>
								</div>

								<div class="form-group">
									<label class="col-sm-2 col-sm-2 control-label">주거래 통장</label>
									<div class="col-sm-2">
										<select id="genderCate" class="form-control">
											<option value="">::주거래 통장 선택::</option>
										</select>
									</div>
								</div>

								<div class="form-group">
									<label class="col-sm-2 col-sm-2 control-label">계좌번호</label>
									<div class="col-sm-4">
										<input class="form-control" type="text"
											id="businessAccountNumber">
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
				<!-- /.row -->
			</div>
			<!-- /.container-fluid -->
		</div>
		<!-- /.content -->
	</div>
	</div>
	<!-- /.content-wrapper -->
</th:block>
</html>