<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
layout:decorate="@{layout/default-sw}">
<th:block layout:fragment="javascriptFragment">
</th:block>	 

<th:block layout:fragment="customContents">
<!-- Content Wrapper. Contains page content -->
	<div class="content-wrapper">
	<!-- Content Header (Page header) -->
		<div class="content-header">
			<div class="container-fluid">
				<div class="row mb-2">
					<div class="col-sm-6">
						<h1 class="m-0">사업장 대표코드 등록</h1>
					</div><!-- /.col -->
					<div class="col-sm-6">
						<ol class="breadcrumb float-sm-right">
							<li class="breadcrumb-item"><a href="/sw/index-sw">Home</a></li>
							<li class="breadcrumb-item active">사업장 관리</li>
						</ol>
					</div><!-- /.col -->
				</div><!-- /.row -->
			</div><!-- /.container-fluid -->
		</div>
	<!-- /.content-header -->
	
	<!-- Main content -->
		<div class="content">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<div class="card card-primary">
							<div class="card-header">
								<h5 class="card-title"> 사업장 대표코드 등록</h5>
							</div>
							
							<!--  사업장 대표코드 등록 폼바디 시작 -->
								<form id="addMainBusinessCodeForm" th:action="@{/sw/business/addMainBusinessCode}" method="post" class="form-horizontal"> 
								<p class="card-body" >
								
								<div class="form-group row">
									<label class="col-sm-2 col-form-laebl text-right">사업장 대표코드</label>
									<div class="col-sm-4">
										<input class="form-control" type="text" id="mainBusinessCode" name="mainBusinessCode" placeholder="사업장 대표코드를 입력하세요">
									</div>
									<div>
										<button type="button" id="codeCheckBtn" class="btn btn-primary">중복확인</button>
									</div>
								</div>
								
								<div class="form-group row">
									<label class="col-sm-2 col-form-laebl text-right">거래처 구분 코드</label>
									<div class="col-sm-2">
										<select id="businessCode" class="form-control" name="businessCode">
											<option value="">::거래처 구분 코드 선택::</option>
											<option value="merge_shop">merge_shop</option>
											<option value="merge_fac">merge_fac</option>
											<option value="merge_mart">merge_mart</option>
											<option value="merge_ware">merge_ware</option>
											<option value="merge_agency">merge_agency</option>		
											
										</select>
									</div>
								</div>
								
								<div class="form-group row">
									<label class="col-sm-2 col-form-laebl text-right">사업장 권한</label>
									<div class="col-sm-2">
										<select id="localCode" class="form-control" name="businessLevelCode">
											<option value="">::사업장 권한 선택::</option>
											<option>shop1</option>
											<option>fac1</option>
											<option>mart1</option>
											<option>ware1</option>
											<option>agency1</option>		
										</select>
									</div>
								</div>
								

								<div class="form-group row">
									<label class="col-sm-2 col-form-laebl text-right">사업장 대표코드 등록날짜</label>
									<div class="col-sm-4">
										<input class="form-control" type="date" id="businessCodeRegistrationDate" name="businessCodeRegistrationDate" placeholder="사업장 대표코드 등록날짜">
									</div>
								</div>

								<div class="card-footer">
									<button type="submit" class="btn btn-primary" id="addMainBusinessCodeBtn"> 등록 </button>
									<button type="button" class="btn btn-default float-right" id="cancleMainBusinessCodeBtn" onclick="cancle()"> 취소 </button>
								</div>
							</form> 
							</div>
						</div>
					</div>
				</div>
				<!-- /.row -->
			</div>
			<!-- /.container-fluid -->
		</div>
		<!-- /.content -->
<script type="text/javascript">
	$('#codeCheckBtn').click(function(){
		var mainBusinessCode = $('#mainBusinessCode').val();
		//유성 ajax 중복체크
		var request = $.ajax({
			  url: "/sw/business/codeCheck",
			  method: "POST",
			  data: { mainBusinessCode : mainBusinessCode },
			  dataType: "text"
			});
		request.done(function(data) {
			if(mainBusinessCode != null && mainBusinessCode != ""){
				if(data == "true"){
					alert('대표코드 등록 불가능');
					$('#addMainBusinessCodeForm input').not('#mainBusinessCode').prop('disabled', true);
					$('#addMainBusinessCodeForm button').not('#codeCheckBtn').prop('disabled', true);
				
				}else{
					alert('대표코드 등록 가능');
					$('#addMainBusinessCodeForm input').not('#mainBusinessCode').prop('disabled', false);
					$('#addMainBusinessCodeForm button').not('#codeCheckBtn').prop('disabled', false);
					$('#mainBusinessCode').attr('login','pass');
				
				}
			}else{
				alert('공백은 사용하실수 없습니다.');
			}
		});
	});
	//사업장 대표코드 등록 취소
	function cancle(){
		var cancleMainBusinessCodeBtn = confirm('사업장 등록을 취소하시겠습니까?');
		if(cancleMainBusinessCodeBtn){
			location.href = "/sw/index-sw";
		}
	}
	
	$(function(){
		//[유성]아이디 중복체크
		$('#addMainBusinessCodeBtn').click(function(){
			var mainBusinessCode = $('#mainBusinessCode').attr('login');
			if(mainBusinessCode != "pass"){
				alert("아이디 중복체크를 해주세요");
				return false;
			}
			
			//거래처 구분코드 공백 체크
			var businessCode = $('#businessCode').val();
			if(businessCode == "::거래처 구분 코드 선택::" || businessCode == ""){
				alert("거래처 구분코드를 선택하세요");
				return false;
			}
			
			//사업장 지역코드 공백 체크
			var businessLevelCode = $('#businessLevelCode').val();
			if(businessLevelCode == "::사업장 권한 선택::" || businessLevelCode == ""){
				alert("사업장 권한을 선택하세요");
				return false;
			}
			
			//사업장 등록날짜 공백 체크
			var businessCodeRegistrationDate = $('#businessCodeRegistrationDate').val();
			if(businessCodeRegistrationDate == "연도-월-일" || businessCodeRegistrationDate == ""){
				alert("사업장 등록날짜를 선택하세요");
				return false;
			}
			
			//submit
			$('#addMainBusinessCodeForm').submit();
		});
	});
</script>
</th:block>
</html>