<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
layout:decorate="@{layout/default-sw}">


<th:block layout:fragment="customContents">
<!-- Content Wrapper. Contains page content -->
	<div class="content-wrapper">
	<!-- Content Header (Page header) -->
		<div class="content-header">
			<div class="container-fluid">
				<div class="row mb-2">
					<div class="col-sm-6">
						<h1 class="m-0">사업장 대표코드 수정</h1>
					</div><!-- /.col -->
					<div class="col-sm-6">
						<ol class="breadcrumb float-sm-right">
							<li class="breadcrumb-item"><a href="#">Home</a></li>
							<li class="breadcrumb-item active">Starter Page</li>
						</ol>
					</div><!-- /.col -->
				</div><!-- /.row -->
			</div><!-- /.container-fluid -->
		</div>
	<!-- /.content-header -->
	
	<!-- Main content -->
		<div class="content">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<div class="card card-primary">
							<div class="card-header">
								<h5 class="card-title"> 사업장 대표코드 수정 </h5>
							</div>
							
							<!--  사업장 대표코드 수정 폼바디 시작 -->
							<form id="modifyMainBusinessCode" th:action="@{/sw/business/modifyMainBusinessCode}" method="post" class="form-horizontal"> 
								<p class="card-body" >

								<div class="form-group row">
									<label class="col-sm-2 col-form-laebl text-right">사업장 대표코드</label>
									<div class="col-sm-4">
										<input th:value="${mainBusinessCodeInfo.mainBusinessCode}" type="text" id="mainBusinessCode" name="mainBusinessCode" placeholder="사업장 대표코드를 입력하세요"  readonly="readonly">
									</div>
									<div>
										<button type="button" id="idCheckBtn" class="btn btn-primary">중복확인</button>
									</div>
								</div>
								
								<div class="form-group row">
									<label class="col-sm-2 col-form-laebl text-right">거래처 구분 코드</label>
									<div class="col-sm-2">
											<select class="form-control" name="BusinessCode" style="height: 85%">
                                                   <option value=""> ::거래처 구분 코드 선택:: </option>
                                                <th:block th:if="${not #lists.isEmpty(merge)}"
                                                         th:each="mbc : ${merge}">
                                                   <option th:value="${mbc.businessCode}" th:text="${mbc.businessCodeName}" >
                                                      [[${mbc.businessCodeName}]]
                                                   </option>
                                                </th:block>
                                                <th:block th:unless="${not #lists.isEmpty(merge)}">
                                                   <option>거래처 구분 코드를 등록해주세요</option>
                                                </th:block>
                                             </select>
                                             
										
									</div>
								</div>
								
								<div class="form-group row">
									<label class="col-sm-2 col-form-laebl text-right">사업장 권한</label>
									<div class="col-sm-2">
										<select id="localCode" class="form-control" name="businessLevelCode">
											<option value="">::사업장 권한 선택::</option>
											<option>shop1</option>
											<option>fac1</option>
											<option>mart1</option>
											<option>ware1</option>
											<option>agency1</option>		
											
										</select>
									</div>
								</div>
								

								<div class="form-group row">
									<label class="col-sm-2 col-form-laebl text-right">사업장 대표코드 등록날짜</label>
									<div class="col-sm-4">
										<input class="form-control" type="date" id="businessCodeRegistrationDate" name="businessCodeRegistrationDate" placeholder="사업장 대표코드 등록날짜">
									</div>
								</div>

								<div class="card-footer">
									<button type="submit" class="btn btn-primary" id="modifyMainBusinessCode"> 수정완료 </button>
									<button type="button" class="btn btn-default float-right" id="cancleMainBusinessCodeBtn"> 취소 </button>
								</div>
							</form> 
							</div>
						</div>
					</div>
				</div>
				<!-- /.row -->
			</div>
			<!-- /.container-fluid -->
		</div>
		<!-- /.content -->
		</div>
	</div>
<!-- /.content-wrapper -->
</th:block>
</html>