<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
layout:decorate="@{layout/default-sw}">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<th:block layout:fragment="customJs">
<script type="text/javascript">	
	$(function(){
	//클릭시
		$('#modifyMainBusinessCodeBtn').click(function(){
	
			if($('#businessCode').val().length == 0){
		         alert('거래처 구분코드를 선택하세요');
		         return false;
		      }
			
		
			//사업장 권한 공백 체크
			var businessLevelCode = $('#businessLevelCode').val();
			if(businessLevelCode == "::사업장 권한 선택::" || businessLevelCode == ""){
				alert("사업장 권한을 선택하세요");
				return false;
			}
			
			//사업장 등록날짜 공백 체크
			var businessCodeRegistrationDate = $('#businessCodeRegistrationDate').val();
			if(businessCodeRegistrationDate == "연도-월-일" || businessCodeRegistrationDate == ""){
				alert("사업장 대표코드 등록날짜를 선택하세요");
				return false;
			}
			
			
			
			//submit
			$('#modifyMainBusinessCode').submit();
		});
	});

function cancle(){
	var cancleMainBusinessCodeBtn = confirm('사업장 대표코드 수정을 취소하시겠습니까?');
	if(cancleMainBusinessCodeBtn){
		location.href = "/sw/index-sw";
	}
}
</script>
</th:block>	 

<th:block layout:fragment="customContents">
<!-- Content Wrapper. Contains page content -->
	<div class="content-wrapper">
	<!-- Content Header (Page header) -->
		<div class="content-header">
			<div class="container-fluid">
				<div class="row mb-2">
					<div class="col-sm-6">
						<h1 class="m-0">사업장 대표코드 수정</h1>
					</div><!-- /.col -->
					<div class="col-sm-6">
						<ol class="breadcrumb float-sm-right">
							<li class="breadcrumb-item"><a href="/sw/index-sw">Home</a></li>
							<li class="breadcrumb-item active">사업장 관리 </li>
						</ol>
					</div><!-- /.col -->
				</div><!-- /.row -->
			</div><!-- /.container-fluid -->
		</div>
	<!-- /.content-header -->
	
	<!-- Main content -->
		<div class="content">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<div class="card card-primary">
							<div class="card-header">
								<h5 class="card-title"> 사업장 대표코드 수정 </h5>
							</div>
							
							<!--  사업장 대표코드 수정 폼바디 시작 -->
							<form id="modifyMainBusinessCode" th:action="@{/sw/business/modifyMainBusinessCode}" method="post" class="form-horizontal"> 
								<p class="card-body" >

								<div class="form-group row">
									<label class="col-sm-2 col-form-laebl text-right">사업장 대표코드</label>
									<div class="col-sm-4">
										<input th:value="${mainBusinessCodeInfo.mainBusinessCode}" type="text" id="mainBusinessCode" name="mainBusinessCode" placeholder="사업장 대표코드를 입력하세요"  readonly="readonly">
									</div>
								</div>
								
									<div class="form-group row">
									<label class="col-sm-2 col-form-laebl text-right">거래처 구분 코드</label>
									<div class="col-sm-2">
										<select id="businessCode" class="form-control" name="businessCode">
											<option value="">::거래처 구분 코드 선택::</option>
											<option value="merge_shop">merge_shop</option>
											<option value="merge_fac">merge_fac</option>
											<option value="merge_mart">merge_mart</option>
											<option value="merge_ware">merge_ware</option>
											<option value="merge_agency">merge_agency</option>		
											
										</select>
									</div>
								</div>
								
								<div class="form-group row">
									<label class="col-sm-2 col-form-laebl text-right">사업장 권한</label>
									<div class="col-sm-2">
										<select id="businessLevelCode" class="form-control" name="businessLevelCode">
											<option value="">::사업장 권한 선택::</option>
											<option>shop1</option>
											<option>fac1</option>
											<option>mart1</option>
											<option>ware1</option>
											<option>agency1</option>		
											
										</select>
									</div>
								</div>
								

								<div class="form-group row">
									<label class="col-sm-2 col-form-laebl text-right">사업장 대표코드 등록날짜</label>
									<div class="col-sm-4">
										<input class="form-control" type="date" id="businessCodeRegistrationDate" name="businessCodeRegistrationDate" placeholder="사업장 대표코드 등록날짜">
									</div>
								</div>

								<div class="card-footer">
									<button type="submit" class="btn btn-primary" id="modifyMainBusinessCodeBtn"> 수정완료 </button>
									<button type="button" class="btn btn-default float-right" id="cancleMainBusinessCodeBtn" onclick="cancle()"> 취소 </button>
								</div>
							</form> 
							</div>
						</div>
					</div>
				</div>
				<!-- /.row -->
			</div>
			<!-- /.container-fluid -->
		</div>
		<!-- /.content -->
		</div>
	</div>
<!-- /.content-wrapper -->

</th:block>
</html>