<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="@{layout/default-sw}">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<th:block layout:fragment="customContents">


<!-- Content Wrapper. Contains page content -->
	<div class="content-wrapper">
	<!-- Content Header (Page header) -->
		<div class="content-header">
			<div class="container-fluid">
				<div class="row mb-2">
					<div class="col-sm-6">
						<h1 class="m-0" th:text="${title}"></h1>
					</div><!-- /.col -->
					<div class="col-sm-6">
						<ol class="breadcrumb float-sm-right">
							<li class="breadcrumb-item"><a href="#">Home</a></li>
							<li class="breadcrumb-item active">Starter Page</li>
						</ol>
					</div><!-- /.col -->
				</div><!-- /.row -->
			</div><!-- /.container-fluid -->
		</div>
	<!-- /.content-header -->
	
	<!-- Main content -->
		<div class="content">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<!--  사업장 수정 폼 -->
						<div class="card card-primary" >
							<div class="card-header">
								<h5 class="card-title" th:text="${title}"></h5>
							</div>
							<!-- 사업장 수정  폼 바디 시작 -->
							<form id="modifyBusinessForm" th:action="@{/sw/business/modifyBusiness}" method="post" class="form-horizontal">
								<div class="card-body">
									<div class="form-group row">
										<label class="col-sm-2 col-form-label text-right">회원 아이디 : </label>
										<div class="col-sm-8">
											<input th:value="${getBusiness.clientId}" type="text" class="form-control" id="inputId" name="clientId" readonly="readonly">
										</div>
									</div>
									<div class="form-group row">
										<label class="col-sm-2 col-form-laebl text-right">지역 코드: </label>
											<div class="col-sm-8">
												<select id="localCode" class="form-control" name="localCode">
												<option value="">::지역 코드 선택::</option>
												<option>sw_local_code_02(서울)</option>
												<option>sw_local_code_031(경기도)</option>
												<option>sw_local_code_042(세종)</option>
												<option>sw_local_code_044(대전)</option>
												<option>sw_local_code_051(부산)</option>
												<option>sw_local_code_052(울산)</option>
												<option>sw_local_code_053(대구)</option>
												<option>sw_local_code_061(전남)</option>
												<option>sw_local_code_062(광주)</option>
												<option>sw_local_code_063(전북)</option>
											
											
											</select>
										</div>
									</div>
									
									
									
									<div class="form-group row">
										<label class="col-sm-2 col-form-label text-right">사업장 이름 : </label>
										<div class="col-sm-8">
											<input type="text" class="form-control" id="businessName" placeholder="사업장 이름을 입력하세요" name="businessName">
										</div>
									</div>
									<div class="form-group row">
										<label class="col-sm-2 col-form-label text-right">사업장 대표 : </label>
										<div class="col-sm-8">
											<input type="text" class="form-control" id="businessRepresentativeName" placeholder="사업장 대표를 입력하세요" name="businessRepresentativeName">
										</div>
									</div>
									<div class="form-group row">
										<label class="col-sm-2 col-form-label text-right">사업장 번호 : </label>
										<div class="col-sm-8">
											<input th:value="${getBusiness.businessNumber}" type="text" class="form-control" id="inputbusinessNumber" name="businessNumber" readonly="readonly">
										</div>
									</div>
									<div class="form-group row">
										<label class="col-sm-2 col-form-label text-right">사업장 전화번호: </label>
										<div class="col-sm-8">
											<input type="text" class="form-control" id="businessPhone" placeholder="사업장 전화번호를 입력하세요" name="businessPhone">
										</div>
									</div>
									<div class="form-group row">
										<label class="col-sm-2 col-form-label text-right">사업장 주소 : </label>
										<div class="col-sm-8">
											<input type="text" class="form-control" id="businessAddr" placeholder="사업장 주소를 입력하세요" name="businessAddr">
										</div>
									</div>
									<div class="form-group row">
										<label class="col-sm-2 col-form-laebl text-right">사업장 이메일</label>
										<div class="col-sm-8">
											<input class="form-control" type="text" id="businessEmail" name="businessEmail"placeholder="사업장 이메일을 입력하세요">
									</div>
									</div>
									<div class="form-group row">
										<label class="col-sm-2 col-form-label text-right">사업장 담당자 이름 : </label>
										<div class="col-sm-8">
											<input type="text" class="form-control" id="businessManagerName" placeholder="사업장 담당자 이름을 입력하세요" name="businessManagerName">
										</div>
									</div>
									<div class="form-group row">
										<label class="col-sm-2 col-form-label text-right">사업장 담당자 번호 : </label>
										<div class="col-sm-8">
											<input type="text" class="form-control" id="businessManagerPhone" placeholder="사업장 담당자 번호를 입력하세요" name="businessManagerPhone">
										</div>
									</div>
									<div class="form-group row">
										<label class="col-sm-2 col-form-label text-right">사업장 담당자 이메일 : </label>
										<div class="col-sm-8">
											<input type="email" class="form-control" id="businessManagerEmail" placeholder="사업장 담당자 이메일을 입력하세요" name="businessManagerEmail">
										</div>
									</div>
									
									<div class="form-group row">
									<label class="col-sm-2 col-form-laebl text-right">주거래 통장</label>
									<div class="col-sm-8">
										<select id="AccountTrade" class="form-control" name="businessMainAccount">
											<option value="">::주거래 은행 선택::</option>
											<option value="기업">기업은행</option>
											<option value="농협">농협은행</option>
											<option value="신현">신협은행</option>
											<option value="전북">전북은행</option>
											<option value="새마을금고">새마을금고</option>
											
										</select>
									</div>
								</div>
								
								<div class="form-group row">
										<label class="col-sm-2 col-form-label text-right">계좌번호 : </label>
										<div class="col-sm-8">
											<input type="text" class="form-control" id="businessAccountNumber" placeholder="계좌번호를 입력하세요" name="businessAccountNumber">
										</div>
									</div>
									
									<div class="form-group row">
										<label class="col-sm-2 col-form-label text-right">예금주 : </label>
										<div class="col-sm-8">
											<input type="text" class="form-control" id="businessAccountHolder" placeholder="예금주를 입력하세요" name="businessAccountHolder">
										</div>
									</div>
									
									<div class="form-group row">
										<label class="col-sm-2 col-form-label text-right">승인날짜 : </label>
										<div class="col-sm-8">
											<input type="date" class="form-control" id="businessRegistration" placeholder="승인날짜를 입력하세요" name="businessRegistration">
										</div>
									</div>
									
									<div class="form-group row">
										<label class="col-sm-2 col-form-label text-right">등록상태  : </label>
										<div class="col-sm-8">
											<select id="businessRegistrationState" class="form-control" name="businessRegistrationState">
												<option value="">::등록상태 선택::</option>
												<option value="승인">승인완료</option>
												<option value="거절">승인거절</option>
											
										</select>
										</div>
									</div>
									
									<div class="form-group row">
										<label class="col-sm-2 col-form-label text-right">사업장 등록 승인자 : </label>
										<div class="col-sm-8">
											<select id="memberId" class="form-control" name="memberId">
												<option value="">::사업장 등록 승인자 선택::</option>
												<option value=>swid001</option>
												<option value=>swid002</option>
											
										</select>
										</div>
									</div>
								<!-- 회원가입폼 바디 끝 -->
								</div>
								
								<div class="card-footer">
									<button type="submit" class="btn btn-primary" id ="modifyBusinessBtn"> 수정완료 </button>
									<button type="button" class="btn btn-default float-right" id="cancleBusinessBtn"> 취소 </button>
								</div>
							</form>
								
							</div>
						</div>
					</div>
					<!-- /.row -->
				</div>
				<!-- /.container-fluid -->
			</div>
	    	<!-- /.content -->
		</div>
	</div>
<!-- /.content-wrapper -->
</th:block>
</html>