<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<div id="header" th:fragment="headerFragment">
<head>
	<meta charset="UTF-8">
</head>
<body>
<nav class="main-header navbar navbar-expand navbar-white navbar-light">
	<ul class="navbar-nav ml-auto">
		<li class="nav-item d-none d-sm-inline-block">
			<a th:if="${session.SID != null}" th:href="@{#}">
				<span style="font-style: italic; color: white;"> [[${session.SLEVELNAME}]]  [[${session.SNAME}]]님이 로그인 하셨습니다. </span>
			</a>
		</li>
		<li class="nav-item d-none d-sm-inline-block">
			<a th:if="${session.SID != null}" th:href="@{/logout}">
				<span class="menu" style="float: right;"> 로그아웃 </span>
			</a>
			<a th:unless="${session.SID != null}" th:href="@{/login}">
				<span class="menu" style="float: right;"> 로그인 </span>
			</a>
		</li>
	</ul>
</nav>
</body>
</div>
</html>