<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
   <div id="sidebar" th:fragment="sidebarFragment-shop">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<div th:replace="fragments/javascript :: javascriptFragment"></div>
</head>
<body class="layout-fixed">
<aside class="main-sidebar sidebar-light-success elevation-4">
   <!-- Brand Logo -->
   <a href="#" class="brand-link">
      <img src="/customcss/img/logo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">TEAM_404500</span>
   </a>

   <!-- Sidebar -->
   <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="mt-3 pb-3 pt-3 mb-3">
         <div class="text-center image-box">
            <img src="/customcss/img/profile.png" class="img-circle image-thumbnail" alt="User Image">
         </div>
         <div class="text-center mt-3">
            <a href="#" class="text-darkgray"><h5>SHOP</h5></a>
            <span class="text-gray">총관리자</span>
			</div>
		</div>
			<!-- Sidebar Menu -->
			<nav class="mt-2">
				<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
					<!-- 회원관리 시작 -->
					<li class="nav-item">
						<a href="#" class="nav-link">
							<i class="nav-icon fas fa-circle"></i>
							<p>회원관리
							<i class="right fas fa-angle-down"></i>
							</p>
						</a>
							<ul class="nav nav-treeview">
								<li class="nav-item">
									<a th:href="@{/shop/member/addMember}" class="nav-link">
										<i class="far fa-circle nav-icon"></i>
										<p>쇼핑몰 내부회원등록[재천]</p>
									</a>
								</li>
							</ul>
							<ul class="nav nav-treeview">
								<li class="nav-item">
									<a th:href="@{/shop/member/selectMember}" class="nav-link">
										<i class="far fa-circle nav-icon"></i>
										<p>쇼핑몰 내부회원조회[재천]</p>
									</a>
								</li>
							</ul>
							<ul class="nav nav-treeview">
								<li class="nav-item">
									<a th:href="@{/shop/consumer/addConsumer}" class="nav-link">
										<i class="far fa-circle nav-icon"></i>
										<p>쇼핑몰 소비자회원 등록[재천]</p>
									</a>
								</li>
							</ul>
							<ul class="nav nav-treeview">
								<li class="nav-item">
									<a th:href="@{/shop/consumer/selectConsumer}" class="nav-link">
										<i class="far fa-circle nav-icon"></i>
										<p>쇼핑몰 소비자회원 조회[재천]</p>
									</a>
								</li>
							</ul>
						</li>
						<!-- 회원관리 끝 -->
						
						<!-- 거래처 관리 시작 -->
						<li class="nav-item">
							<a href="#" class="nav-link">
								<i class="nav-icon fas fa-circle"></i>
								<p> 쇼핑몰 거래처 등록
								<i class="right fas fa-angle-down"></i>
								</p>
							</a>
								<ul class="nav nav-treeview">
									<li class="nav-item">
										<a th:href="@{/shop/business/addBusinessInfo}" class="nav-link">
											<i class="far fa-circle nav-icon"></i>
											<p>쇼핑몰 거래처 등록 [재천]</p>
										</a>
									</li>
								</ul>
								<ul class="nav nav-treeview">
									<li class="nav-item">
										<a th:href="@{/shop/business/selectBusinessInfo}" class="nav-link">
											<i class="far fa-circle nav-icon"></i>
											<p>쇼핑몰 거래처 조회 [재천]</p>
										</a>
									</li>
								</ul>	
						</li>
							<!-- 쇼핑몰 거래처 관리 끝 -->
							
							<!-- 코드관리 시작 -->
							<li class="nav-item">
								<a href="#" class="nav-link">
									<i class="nav-icon fas fa-circle"></i>
									<p>코드관리
									<i class="right fas fa-angle-down"></i>
									</p>
								</a>
									<ul class="nav nav-treeview">
										<li class="nav-item">
											<a th:href="@{/shop/code/addPaymentState}" class="nav-link">
												<i class="far fa-circle nav-icon"></i>
												<p>쇼핑몰 결제상태 코드 등록 [재천]</p>
											</a>
										</li>
									</ul>
									<ul class="nav nav-treeview">
										<li class="nav-item">
											<a th:href="@{/shop/code/selectPaymentState}" class="nav-link">
												<i class="far fa-circle nav-icon"></i>
												<p>쇼핑몰 결제 상태 코드 조회 [재천]</p>
											</a>
										</li>
									</ul>
								</li>
								<!-- 코드관리 끝 -->
								
								<!-- 매출(재무)관리 시작 -->
								<li class="nav-item">
									<a href="#" class="nav-link">
										<i class="nav-icon fas fa-circle"></i>
										<p>매출관리
										<i class="right fas fa-angle-down"></i>
										</p>
									</a>
										<ul class="nav nav-treeview">
											<li class="nav-item">
												<a th:href="@{/shop/accounting/addIncome}" class="nav-link">
													<i class="far fa-circle nav-icon"></i>
													<p>쇼핑몰 매출 등록 [유경]</p>
												</a>
											</li>
										</ul>
										<ul class="nav nav-treeview">
											<li class="nav-item">
												<a th:href="@{/shop/accounting/selectIncome}" class="nav-link">
													<i class="far fa-circle nav-icon"></i>
													<p>쇼핑몰 매출 조회 [유경]</p>
												</a>
											</li>
										</ul>
										<ul class="nav nav-treeview">
											<li class="nav-item">
												<a th:href="@{/shop/accounting/addExpense}" class="nav-link">
													<i class="far fa-circle nav-icon"></i>
													<p>쇼핑몰 비용 등록 [유성]</p>
												</a>
											</li>
										</ul>
										<ul class="nav nav-treeview">
											<li class="nav-item">
												<a th:href="@{/shop/accounting/selectExpense}" class="nav-link">
													<i class="far fa-circle nav-icon"></i>
													<p>쇼핑몰 비용 조회 [유성]</p>
												</a>
											</li>
										</ul>
										<ul class="nav nav-treeview">
											<li class="nav-item">
												<a th:href="@{/shop/accounting/addTotalAccounting}" class="nav-link">
													<i class="far fa-circle nav-icon"></i>
													<p>쇼핑몰 통합 회계 등록 [유경]</p>
												</a>
											</li>
										</ul>
										<ul class="nav nav-treeview">
											<li class="nav-item">
												<a th:href="@{/shop/accounting/selectTotalAccounting}" class="nav-link">
													<i class="far fa-circle nav-icon"></i>
													<p>쇼핑몰 통합 회계조회 [유경]</p>
												</a>
											</li>
										</ul>
									</li>
									<!-- 재무관리 관리끝 -->
									
									<!-- 주문관리 시작 -->
									<li class="nav-item">
										<a href="#" class="nav-link">
											<i class="nav-icon fas fa-circle"></i>
											<p>주문 관리
											<i class="right fas fa-angle-down"></i>
											</p>
										</a>
											<ul class="nav nav-treeview">
												<li class="nav-item">
													<a th:href="@{/shop/order/selectOrder}" class="nav-link">
														<i class="far fa-circle nav-icon"></i>
														<p>쇼핑몰 주문 내역 조회 [유성]</p>
													</a>
												</li>
											</ul>
											<ul class="nav nav-treeview">
												<li class="nav-item">
													<a th:href="@{/shop/order/addPaymentCheck}" class="nav-link">
														<i class="far fa-circle nav-icon"></i>
														<p>쇼핑몰 결제 확인 등록 [유성]</p>
													</a>
												</li>
											</ul>
											<ul class="nav nav-treeview">
												<li class="nav-item">
													<a th:href="@{/shop/order/selectPaymentCheck}" class="nav-link">
														<i class="far fa-circle nav-icon"></i>
														<p>쇼핑몰 결제 확인 조회 [유성]</p>
													</a>
												</li>
											</ul>
										</li>
										<!-- 주문관리 끝 -->
										
										<!-- 배송관리 시작 -->
										<li class="nav-item">
											<a href="#" class="nav-link">
												<i class="nav-icon fas fa-circle"></i>
												<p>배송 관리
												<i class="right fas fa-angle-down"></i>
												</p>
											</a>
												<ul class="nav nav-treeview">
													<li class="nav-item">
														<a th:href="@{/shop/shipment/addShipment}" class="nav-link">
															<i class="far fa-circle nav-icon"></i>
															<p>배송 단계 등록 [유경]</p>
														</a>
													</li>
												</ul>
												<ul class="nav nav-treeview">
													<li class="nav-item">
														<a th:href="@{/shop/shipment/selectShipment}" class="nav-link">
															<i class="far fa-circle nav-icon"></i>
															<p>배송 단계 조회 [유경]</p>
														</a>
													</li>
												</ul>
												<ul class="nav nav-treeview">
													<li class="nav-item">
														<a th:href="@{/shop/shipment/addRequestShipment}" class="nav-link">
															<i class="far fa-circle nav-icon"></i>
															<p>배송 요청 등록 [유성]</p>
														</a>
													</li>
												</ul>
												<ul class="nav nav-treeview">
													<li class="nav-item">
														<a th:href="@{/shop/shipment/selectRequestShipment}" class="nav-link">
															<i class="far fa-circle nav-icon"></i>
															<p>배송 요청 조회 [유성]</p>
														</a>
													</li>
												</ul>
												
											</li>
											<!-- 배송관리 끝 -->
				</ul>
			</nav>
			<!-- /.sidebar-menu -->
	</div>
	<!-- /.sidebar -->
    
    <!--  기능 Start -->
    <script type="text/javascript">
       $(function(){
/*             $('.nav-link').on('click',function(){
                $('.fa-circle').removeClass('fas');
                $('.fa-circle').addClass('far');
                $(this).find('i').removeClass('far');
                $(this).find('i').addClass('fas');
             }); */
             $(document).on('click','.nav-link',function(){
                $('.fa-circle').removeClass('fas');
                $('.fa-circle').addClass('far');
                $(this).find('i').removeClass('far');
                $(this).find('i').addClass('fas');
             }); 
          });
    </script>
  </aside>
</body>
</div>
</html>