<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
   <div id="sidebar" th:fragment="sidebarFragment-sw">
<head>
	<meta charset="UTF-8">
</head>

<body class="layout-fixed">
<aside class="main-sidebar sidebar-dark-primary elevation-4">
	<!-- 로고 -->
	<a href="/" class="brand-link">
		<img src="/customcss/img/logo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
		<span class="brand-text font-weight-light">TEAM_404500</span>
	</a>

	<!-- 사이드바 -->
	<div class="sidebar">
		<!-- 사이드바 프로필 -->
		<div class="mt-3 pb-3 pt-3 mb-3">
			<div class="text-center image-box">
				<img src="/customcss/img/profile.png" class="img-circle image-thumbnail" alt="User Image">
			</div>
			<div th:if="${session.SDI != null}" class="text-center mt-3">
				<h5 class="text-white">[[${session.SID}]]</h5>
				<span class="text-white">[[${session.SLEVEL}]]</span>				
			</div>
			<div th:unless="${session.SDI != null}" class="text-center mt-3">
				<h5 class="text-white">비회원</h5>
				<span class="text-white">user</span>				
			</div>
		</div>

			<!-- 사이드바 메뉴 -->		
			<nav class="mt-2">
				<ul th:if="${session.SDI != null}" class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
					<!-- 회원관리 시작 -->
					<li class="nav-item">
						<a href="#" class="nav-link">
							<i class="nav-icon fas fa-circle"></i>
							<p>회원관리 
							<i class="right fas fa-angle-down"></i>
							</p>
						</a>
							<ul class="nav nav-treeview">
								<li class="nav-item">
									<a th:href="@{/sw/member/addMember}" class="nav-link">
										<i class="far fa-circle nav-icon"></i>
										<p>!개발사 내부회원등록 [재천] </p> 
									</a>
								</li>
							</ul>
							<ul class="nav nav-treeview">
								<li class="nav-item">
									<a th:href="@{/sw/member/selectMember}" class="nav-link">
										<i class="far fa-circle nav-icon"></i>
										<p>!개발사 내부회원조회 [재천]</p>
									</a>
								</li>
							</ul>
							<ul class="nav nav-treeview">
								<li class="nav-item">
									<a th:href="@{/sw/client/addClient}" class="nav-link">
										<i class="far fa-circle nav-icon"></i>
										<p>!개발사 외부회원 등록 [재천] </p>
									</a>
								</li>
							</ul>
							<ul class="nav nav-treeview">
								<li class="nav-item">
									<a th:href="@{/sw/client/selectClient}" class="nav-link">
										<i class="far fa-circle nav-icon"></i>
										<p>!개발사 외부회원 조회 [재천] </p>
									</a>
								</li>
							</ul>
						</li>
						<!-- 회원관리 끝 -->
						
						<!-- 권한관리시작 -->
						<li class="nav-item">
							<a href="#" class="nav-link">
								<i class="nav-icon fas fa-circle"></i>
								<p>권한 관리
								<i class="right fas fa-angle-down"></i>
								</p>
							</a>
								<ul class="nav nav-treeview">
									<li class="nav-item">
										<a th:href="@{/sw/level/addMemberLevel}" class="nav-link">
											<i class="far fa-circle nav-icon"></i>
											<p>개발사 내부권한등록[유성]</p>
										</a>
									</li>
								</ul>
								<ul class="nav nav-treeview">
									<li class="nav-item">
										<a th:href="@{/sw/level/selectMemberLevel}" class="nav-link">
											<i class="far fa-circle nav-icon"></i>
											<p>개발사 내부권한조회[유성]</p>
										</a>
									</li>
								</ul>
								<ul class="nav nav-treeview">
									<li class="nav-item">
										<a th:href="@{/sw/level/addClientLevel}" class="nav-link">
											<i class="far fa-circle nav-icon"></i>
											<p>개발사 외부권한등록[유성]</p>
										</a>
									</li>
								</ul>
								<ul class="nav nav-treeview">
									<li class="nav-item">
										<a th:href="@{/sw/level/selectClientLevel}" class="nav-link">
											<i class="far fa-circle nav-icon"></i>
											<p>개발사 외부권한조회[유성]</p>
										</a>
									</li>
								</ul>
							</li>
							<!-- 권한관리 끝 -->
							
							<!-- 사업장관리 시작 -->
							<li class="nav-item">
								<a href="#" class="nav-link">
									<i class="nav-icon fas fa-circle"></i>
									<p>사업장 관리
									<i class="right fas fa-angle-down"></i>
									</p>
								</a>
									<ul class="nav nav-treeview">
										<li class="nav-item">
											<a th:href="@{/sw/business/addBusiness}" class="nav-link">
												<i class="far fa-circle nav-icon"></i>
												<p>사업장등록[유성]</p>
											</a>
										</li>
									</ul>
									<ul class="nav nav-treeview">
										<li class="nav-item">
											<a th:href="@{/sw/business/selectBusiness}" class="nav-link">
												<i class="far fa-circle nav-icon"></i>
												<p>사업장조회[유성]</p>
											</a>
										</li>
									</ul>
									<ul class="nav nav-treeview">
										<li class="nav-item">
											<a th:href="@{/sw/business/addMainBusinessCode}" class="nav-link">
												<i class="far fa-circle nav-icon"></i>
												<p>사업장 대표 코드 등록[유성]</p>
											</a>
										</li>
									</ul>
									<ul class="nav nav-treeview">
										<li class="nav-item">
											<a th:href="@{/sw/business/selectMainBusinessCode}" class="nav-link">
												<i class="far fa-circle nav-icon"></i>
												<p>사업장 대표 코드 조회[유성]</p>
											</a>
										</li>
									</ul>
								</li>
								<!-- 사업장관리 끝 -->
								
								<!-- 서비스관리 시작 -->
								<li class="nav-item">
									<a href="#" class="nav-link">
										<i class="nav-icon fas fa-circle"></i>
										<p>서비스 관리
										<i class="right fas fa-angle-down"></i>
										</p>
									</a>
										<ul class="nav nav-treeview">
											<li class="nav-item">
												<a th:href="@{/sw/service/serviceRequest/addServiceRequest}" class="nav-link">
													<i class="far fa-circle nav-icon"></i>
													<p>서비스 계약 요청 등록[환철]</p>
												</a>
											</li>
										</ul>
										<ul class="nav nav-treeview">
											<li class="nav-item">
												<a th:href="@{/sw/service/serviceRequest/selectServiceRequest}" class="nav-link">
													<i class="far fa-circle nav-icon"></i>
													<p>서비스 계약 요청 조회[환철]</p>
												</a>
											</li>
										</ul>
										<ul class="nav nav-treeview">
											<li class="nav-item">
												<a th:href="@{/sw/service/serviceStatus}" class="nav-link">
													<i class="far fa-circle nav-icon"></i>
													<p>서비스 조회[환철]</p>
												</a>
											</li>
										</ul>
									</li>
									<!-- 서비스 관리끝 -->
									
									<!-- 코드관리 시작 -->
									<li class="nav-item">
										<a href="#" class="nav-link">
											<i class="nav-icon fas fa-circle"></i>
											<p>코드 관리
											<i class="right fas fa-angle-down"></i>
											</p>
										</a>
											<ul class="nav nav-treeview">
												<li class="nav-item">
													<a th:href="@{/sw/code/addBusinessCode}" class="nav-link">
														<i class="far fa-circle nav-icon"></i>
														<p>!거래처 구분 코드 등록[재천]</p>
													</a>
												</li>
											</ul>
											<ul class="nav nav-treeview">
												<li class="nav-item">
													<a th:href="@{/sw/code/selectBusinessCode}" class="nav-link">
														<i class="far fa-circle nav-icon"></i>
														<p>!거래처 구분 코드 조회[재천]</p>
													</a>
												</li>
											</ul>
											<ul class="nav nav-treeview">
												<li class="nav-item">
													<a th:href="@{/sw/code/addLocalCode}" class="nav-link">
														<i class="far fa-circle nav-icon"></i>
														<p>!거래처 지역 코드 등록[재천]</p>
													</a>
												</li>
											</ul>
											<ul class="nav nav-treeview">
												<li class="nav-item">
													<a th:href="@{/sw/code/selectLocalCode}" class="nav-link">
														<i class="far fa-circle nav-icon"></i>
														<p>!거래처 지역 코드 조회[재천]</p>
													</a>
												</li>
											</ul>

											<ul class="nav nav-treeview">
												<li class="nav-item">
													<a th:href="@{/sw/code/addInvoiceReasonCode}" class="nav-link">
														<i class="far fa-circle nav-icon"></i>
														<p>!세금계산서 사유 코드 등록[유경]</p>
													</a>
												</li>
											</ul>
											<ul class="nav nav-treeview">
												<li class="nav-item">
													<a th:href="@{/sw/code/selectInvoiceReasonCode}" class="nav-link">
														<i class="far fa-circle nav-icon"></i>
														<p>세금계산서 사유 코드 조회[유경]</p>
													</a>
												</li>
											</ul>
											<ul class="nav nav-treeview">
												<li class="nav-item">
													<a th:href="@{/sw/code/addIsListCode}" class="nav-link">
														<i class="far fa-circle nav-icon"></i>
														<p>!손익 관리계정과목 등록[유경]</p>
													</a>
												</li>
											</ul>
											<ul class="nav nav-treeview">
												<li class="nav-item">
													<a th:href="@{/sw/code/selectIsListCode}" class="nav-link">
														<i class="far fa-circle nav-icon"></i>
														<p>손익 관리계정과목 조회[유경]</p>
													</a>
												</li>
											</ul>
											<ul class="nav nav-treeview">
												<li class="nav-item">
													<a th:href="@{/sw/code/addContractStateCode}" class="nav-link">
														<i class="far fa-circle nav-icon"></i>
														<p>서비스 계약 상태 코드 등록[환철]</p>
													</a>
												</li>
											</ul>
											<ul class="nav nav-treeview">
												<li class="nav-item">
													<a th:href="@{/sw/code/selectContractStateCode}" class="nav-link">
														<i class="far fa-circle nav-icon"></i>
														<p>서비스 계약 상태 코드 조회[환철]</p>
													</a>
												</li>
											</ul>
											<ul class="nav nav-treeview">
												<li class="nav-item">
													<a th:href="@{/sw/code/addPaymentStateCode}" class="nav-link">
														<i class="far fa-circle nav-icon"></i>
														<p>서비스 결제 상태 코드 등록[환철]</p>
													</a>
												</li>
											</ul>
											<ul class="nav nav-treeview">
												<li class="nav-item">
													<a th:href="@{/sw/code/selectPaymentStateCode}" class="nav-link">
														<i class="far fa-circle nav-icon"></i>
														<p>서비스 결제 상태 코드 조회[환철]</p>
													</a>
												</li>
											</ul>
											<ul class="nav nav-treeview">
												<li class="nav-item">
													<a th:href="@{/sw/code/addContractRefundStateCode}" class="nav-link">
														<i class="far fa-circle nav-icon"></i>
														<p>서비스 환불 상태 코드 등록[환철]</p>
													</a>
												</li>
											</ul>
											<ul class="nav nav-treeview">
												<li class="nav-item">
													<a th:href="@{/sw/code/selectContractRefundStateCode}" class="nav-link">
														<i class="far fa-circle nav-icon"></i>
														<p>서비스 환불 상태 코드 조회[환철]</p>
													</a>
												</li>
											</ul>
										</li>
										<!-- 코드관리 끝 -->
										
										<!-- 재무관리 시작 -->
										<li class="nav-item">
											<a href="#" class="nav-link">
												<i class="nav-icon fas fa-circle"></i>
												<p>재무 관리
												<i class="right fas fa-angle-down"></i>
												</p>
											</a>
												<ul class="nav nav-treeview">
													<li class="nav-item">
														<a th:href="@{/sw/accounting/addIncome}" class="nav-link">
															<i class="far fa-circle nav-icon"></i>
															<p>!서비스 매출 등록[재천]</p>
														</a>
													</li>
												</ul>
												<ul class="nav nav-treeview">
													<li class="nav-item">
														<a th:href="@{/sw/accounting/selectIncome}" class="nav-link">
															<i class="far fa-circle nav-icon"></i>
															<p>!서비스 매출 조회[재천]</p>
														</a>
													</li>
												</ul>
												<ul class="nav nav-treeview">
													<li class="nav-item">
														<a th:href="@{/sw/accounting/addPaymentSum}" class="nav-link">
															<i class="far fa-circle nav-icon"></i>
															<p>결제 예정 합계 조회[환철]</p>
														</a>
													</li>
												</ul>
												<ul class="nav nav-treeview">
													<li class="nav-item">
														<a th:href="@{/sw/accounting/addInvoice}" class="nav-link">
															<i class="far fa-circle nav-icon"></i>
															<p>!세금계산서 발행[유경]</p>
														</a>
													</li>
												</ul>
												<ul class="nav nav-treeview">
													<li class="nav-item">
														<a th:href="@{/sw/accounting/selectInvoice}" class="nav-link">
															<i class="far fa-circle nav-icon"></i>
															<p>!세금계산서 조회[유경]</p>
														</a>
													</li>
												</ul>
												<ul class="nav nav-treeview">
													<li class="nav-item">
														<a th:href="@{/sw/accounting/addExpense}" class="nav-link">
															<i class="far fa-circle nav-icon"></i>
															<p>!비용 등록[재천]</p>
														</a>
													</li>
												</ul>
												<ul class="nav nav-treeview">
													<li class="nav-item">
														<a th:href="@{/sw/accounting/selectExpense}" class="nav-link">
															<i class="far fa-circle nav-icon"></i>
															<p>!비용 조회[재천]</p>
														</a>
													</li>
												</ul>
												<ul class="nav nav-treeview">
													<li class="nav-item">
														<a th:href="@{/sw/accounting/selectTotalAccounting}" class="nav-link">
															<i class="far fa-circle nav-icon"></i>
															<p>!통합회계 조회[유경]</p>
														</a>
													</li>
												</ul>
												<ul class="nav nav-treeview">
													<li class="nav-item">
														<a th:href="@{/sw/accounting/addInvoiceDetail}" class="nav-link">
															<i class="far fa-circle nav-icon"></i>
															<p>!세금계산서 품목상세 등록[유경]</p>
														</a>
													</li>
												</ul>
												<ul class="nav nav-treeview">
													<li class="nav-item">
														<a th:href="@{/sw/accounting/selectInvoiceDetail}" class="nav-link">
															<i class="far fa-circle nav-icon"></i>
															<p>!세금계산서 품목상세 조회[유경]</p>
														</a>
													</li>
												</ul>
											</li>
											<!-- 재무관리 끝 -->
				</ul>
				<ul th:unless="${session.SDI != null}" class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
					<li class="nav-item">
						<a href="#" class="nav-link">
							<i class="nav-icon fas fa-circle"></i>
							<p>비회원 메뉴 
							<i class="right fas fa-angle-down"></i>
							</p>
						</a>
						<ul class="nav nav-treeview">
							<li class="nav-item">
								<a th:href="@{#}" class="nav-link">
									<i class="far fa-circle nav-icon"></i>
									<p>비회원 메뉴 구상</p> 
								</a>
							</li>
						</ul>
					</li>
					<!-- 추후에 삭제예정 -->
					<li class="nav-item">
						<a href="#" class="nav-link">
							<i class="nav-icon fas fa-circle"></i>
							<p>회원관리(삭제예정) 
							<i class="right fas fa-angle-down"></i>
							</p>
						</a>
							<ul class="nav nav-treeview">
								<li class="nav-item">
									<a th:href="@{/sw/member/addMember}" class="nav-link">
										<i class="far fa-circle nav-icon"></i>
										<p>!개발사 내부회원등록 [재천] </p> 
									</a>
								</li>
							</ul>
							<ul class="nav nav-treeview">
								<li class="nav-item">
									<a th:href="@{/sw/member/selectMember}" class="nav-link">
										<i class="far fa-circle nav-icon"></i>
										<p>!개발사 내부회원조회 [재천]</p>
									</a>
								</li>
							</ul>
							<ul class="nav nav-treeview">
								<li class="nav-item">
									<a th:href="@{/sw/client/addClient}" class="nav-link">
										<i class="far fa-circle nav-icon"></i>
										<p>!개발사 외부회원 등록 [재천] </p>
									</a>
								</li>
							</ul>
							<ul class="nav nav-treeview">
								<li class="nav-item">
									<a th:href="@{/sw/client/selectClient}" class="nav-link">
										<i class="far fa-circle nav-icon"></i>
										<p>!개발사 외부회원 조회 [재천] </p>
									</a>
								</li>
							</ul>
						</li>
				</ul>
			</nav>
	</div>
    
    <!--  기능 Start -->
    <script type="text/javascript">
       $(function(){
/*             $('.nav-link').on('click',function(){
                $('.fa-circle').removeClass('fas');
                $('.fa-circle').addClass('far');
                $(this).find('i').removeClass('far');
                $(this).find('i').addClass('fas');
             }); */
             $(document).on('click','.nav-link',function(){
                $('.fa-circle').removeClass('fas');
                $('.fa-circle').addClass('far');
                $(this).find('i').removeClass('far');
                $(this).find('i').addClass('fas');
             }); 
          });
    </script>
  </aside>
</body>
</div>
</html>