<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div id="sidebar" th:fragment="sidebarFragment-shop">
	<head>
	<meta charset="UTF-8">
	<title>쇼핑몰 사업자</title>
	<div th:replace="fragments/javascript :: javascriptFragment">
	</div>
	</head>
	<body class="layout-fixed">
	<aside class="main-sidebar sidebar-light-success elevation-4">
	<!-- 로고 -->
	<a href="/" class="brand-link">
	<img src="/customcss/img/logo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
	<span class="brand-text font-weight-light">TEAM_404500</span>
	</a>
	<!-- 사이드바 -->
	<div class="sidebar">
		<!-- 사이드바 프로필 -->
		<div class="mt-3 pb-3 pt-3 mb-3">
			<div class="text-center image-box">
				<img src="/customcss/img/profile.png" class="img-circle image-thumbnail" alt="User Image">
			</div>
			<div th:if="${session.SHOPID !=null}" class="text-center mt-3">
				<a th:href="@{/shop/client/myPage}"><h5 class="text-white">[[${session.SHOPID}]]</h5></a>
				<a th:href="@{/shop/client/myPage}"><span class="text-white">[[${session.SHOPLEVEL}]]</span></a>
			</div>
			<div th:unless="${session.SHOPID !=null}" class="text-center mt-3">
				<h5 class="text-white">비회원</h5>
				<span class="text-white">user</span>
			</div>
		</div>
		<!-- 사이드바 메뉴 -->
		<nav class="mt-2">
		<ul th:if="${session.SHOPID !=null}" class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
			<!-- 회원관리 시작 -->
			<li class="nav-item">
			<a href="#" class="nav-link">
			<p>
				회원관리<i class="right fas fa-angle-down"></i>
			</p>
			</a>
			<ul class="nav nav-treeview">
				<li class="nav-item">
				<a th:href="@{/shop/client/addClient}" class="nav-link">
				<p>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;회원가입[재천]
				</p>
				</a>
				</li>
			</ul>
			<!-- 쇼핑몰 회원가입 임시보류
							<ul class="nav nav-treeview">
								<li class="nav-item">
									<a th:href="@{/shop/consumer/addConsumer}" class="nav-link">
										<i class="far fa-circle nav-icon"></i>
										<p>!쇼핑몰 소비자 등록[재천]</p>
									</a>
								</li>
							</ul> -->
			<ul class="nav nav-treeview">
				<li class="nav-item">
				<a th:href="@{/shop/consumer/selectConsumer}" class="nav-link">
				<p>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;소비자목록[재천]
				</p>
				</a>
				</li>
			</ul>
			<ul class="nav nav-treeview">
				<li class="nav-item">
				<a th:href="@{/shop/client/myPage}" class="nav-link">
				<p>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;마이페이지[유경]
				</p>
				</a>
				</li>
			</ul>
			</li>
			<!-- 회원관리 끝 -->
			<!--  사업장관리 시작 -->
			<li class="nav-item">
			<a href="#" class="nav-link">
			<p>
				사업장 관리<i class="right fas fa-angle-down"></i>
			</p>
			</a>
			<ul class="nav nav-treeview">
				<li class="nav-item">
				<a th:href="@{/shop/businessRegistration/addBusinessRegistration}" class="nav-link">
				<p>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;사업장 신청[유성]
				</p>
				</a>
				</li>
			</ul>
			</li>
			<!--  사업장관리 끝 -->
			
			<!-- 서비스관리(client) -->
			<li class="nav-item">
				<a href="#" class="nav-link">
					<p>
						서비스 <i class="right fas fa-angle-down"></i>
					</p>
				</a>
				<ul class="nav nav-treeview">
					<li class="nav-item">
						<a th:href="@{/shop/service/selectService}" class="nav-link">
							<p>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;서비스[환철]
							</p>
						</a>
					</li>
				</ul>
				<ul class="nav nav-treeview">
					<li class="nav-item">
						<a th:href="@{/shop/service/serviceRequest/addServiceRequest}" class="nav-link">
							<p>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;신청[환철]
							</p>
						</a>
					</li>
				</ul>
				<ul class="nav nav-treeview">
					<li class="nav-item">
						<a th:href="@{/shop/service/serviceRequest/selectServiceRequest}" class="nav-link">
							<p>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;신청현황[환철]
							</p>
						</a>
					</li>
				</ul>
			</li>
			<!-- /서비스 관리(client) -->
			
			<!-- 쇼핑몰 거래처 관리 시작 -->
			<li class="nav-item">
			<a href="#" class="nav-link">
			<p>
				거래처<i class="right fas fa-angle-down"></i>
			</p>
			</a>
			<ul class="nav nav-treeview">
				<li class="nav-item">
				<a th:href="@{/shop/business/addBusinessInfo}" class="nav-link">
				<p>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;거래처 추가[재천]
				</p>
				</a>
				</li>
			</ul>
			<ul class="nav nav-treeview">
				<li class="nav-item">
				<a th:href="@{/shop/business/selectBusinessInfo}" class="nav-link">
				<p>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;거래처 현황[재천]
				</p>
				</a>
				</li>
			</ul>
			</li>
			<!-- 쇼핑몰 거래처 관리 끝 -->
			<!-- 코드관리 -->
			<li class="nav-item">
			<a href="#" class="nav-link">
			<p>
				코드관리<i class="right fas fa-angle-down"></i>
			</p>
			</a>
			<ul class="nav nav-treeview">
				<li class="nav-item">
				<a th:href="@{/shop/code/addPaymentState}" class="nav-link">
				<p>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;결제상태 등록[재천]
				</p>
				</a>
				</li>
			</ul>
			<ul class="nav nav-treeview">
				<li class="nav-item">
				<a th:href="@{/shop/code/selectPaymentState}" class="nav-link">
				<p>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;결제상태[재천]
				</p>
				</a>
				</li>
			</ul>
			<ul class="nav nav-treeview">
				<li class="nav-item">
				<a th:href="@{/shop/order/addGoods}" class="nav-link">
				<p>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;상품코드 등록[유경]
				</p>
				</a>
				</li>
			</ul>
			<ul class="nav nav-treeview">
				<li class="nav-item">
				<a th:href="@{/shop/code/selectIsListCode}" class="nav-link">
				<p>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;손익계정과목[유경]
				</p>
				</a>
				</li>
			</ul>
			</li>
			
			<!-- 매출(재무)관리 시작 -->
			<li class="nav-item">
			<a href="#" class="nav-link">
			<p>
				재무관리 <i class="right fas fa-angle-down"></i>
			</p>
			</a>
			<ul class="nav nav-treeview">
				<li class="nav-item">
				<a th:href="@{/shop/accounting/addIncome}" class="nav-link">
				<p>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;매출추가 [유경]
				</p>
				</a>
				</li>
			</ul>
			<ul class="nav nav-treeview">
				<li class="nav-item">
				<a th:href="@{/shop/accounting/selectIncome}" class="nav-link">
				<p>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;매출현황 [유경]
				</p>
				</a>
				</li>
			</ul>
			<ul class="nav nav-treeview">
				<li class="nav-item">
				<a th:href="@{/shop/accounting/addExpense}" class="nav-link">
				<p>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;비용추가 [유성]
				</p>
				</a>
				</li>
			</ul>
			<ul class="nav nav-treeview">
				<li class="nav-item">
				<a th:href="@{/shop/accounting/selectExpense}" class="nav-link">
				<p>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;비용현황 [유성]
				</p>
				</a>
				</li>
			</ul>
			<ul class="nav nav-treeview">
				<li class="nav-item">
				<a th:href="@{/shop/accounting/addTotalAccounting}" class="nav-link">
				<p>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;통합매출 등록 [유경]
				</p>
				</a>
				</li>
			</ul>
			<ul class="nav nav-treeview">
				<li class="nav-item">
				<a th:href="@{/shop/accounting/addTotalAccountingExpense}" class="nav-link">
				<p>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;통합비용 등록 [유경]
				</p>
				</a>
				</li>
			</ul>
			<ul class="nav nav-treeview">
				<li class="nav-item">
				<a th:href="@{/shop/accounting/selectTotalAccounting}" class="nav-link">
				<p>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;통합회계 조회 [유경]
				</p>
				</a>
				</li>
			</ul>
			</li>
			<!-- 재무관리 관리끝 -->
			
			<!-- 주문관리 시작 -->
			<li class="nav-item">
			<a href="#" class="nav-link">
			<p>
				주문 관리 <i class="right fas fa-angle-down"></i>
			</p>
			</a>
			<ul class="nav nav-treeview">
				<li class="nav-item">
				<a th:href="@{/shop/order/selectOrder}" class="nav-link">
				<p>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;주문내역 조회 [유성]
				</p>
				</a>
				</li>
			</ul>
			<ul class="nav nav-treeview">
				<li class="nav-item">
				<a th:href="@{/shop/order/addPaymentCheck}" class="nav-link">
				<p>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;결제확인 [유성]
				</p>
				</a>
				</li>
			</ul>
			<ul class="nav nav-treeview">
				<li class="nav-item">
				<a th:href="@{/shop/order/selectPaymentCheck}" class="nav-link">
				<p>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;결제상태 [유성]
				</p>
				</a>
				</li>
			</ul>
			</li>
			<!-- 주문관리 끝 -->
			<!-- 배송관리 시작 -->
			<li class="nav-item">
			<a href="#" class="nav-link">
			<p>
				배송 관리 <i class="right fas fa-angle-down"></i>
			</p>
			</a>
			<ul class="nav nav-treeview">
				<li class="nav-item">
				<a th:href="@{/shop/shipment/selectShipment}" class="nav-link">
				<p>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;배송 조회|요청 [유경&유성]
				</p>
				</a>
				</li>
			</ul>
			</li>
			<!-- 배송관리 끝 -->
		</ul>
		<ul th:unless="${session.SHOPID !=null}" class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
			<li class="nav-item">
			<a href="#" class="nav-link">
			<p>
				비회원입니다.<i class="right fas fa-angle-down"></i>
			</p>
			</a>
			<ul class="nav nav-treeview">
				<li class="nav-item">
				<a th:href="@{/addClient}" class="nav-link">
				<p>
					회원가입[재천]
				</p>
				</a>
				</li>
			</ul>
			<ul class="nav nav-treeview">
				<li class="nav-item">
				<a th:href="@{/Shoplogin}" class="nav-link">
				<p>
					로그인[재천]
				</p>
				</a>
				</li>
			</ul>
			</li>
		</ul>
		</nav>
	</div>
	<!-- 기능 -->
	<script type="text/javascript">
	       $(function(){
	/*             $('.nav-link').on('click',function(){
	                $('.fa-circle').removeClass('fas');
	                $('.fa-circle').addClass('far');
	                $(this).find('i').removeClass('far');
	                $(this).find('i').addClass('fas');
	             }); */
	             $(document).on('click','.nav-link',function(){
	                $('.fa-circle').removeClass('fas');
	                $('.fa-circle').addClass('far');
	                $(this).find('i').removeClass('far');
	                $(this).find('i').addClass('fas');
	             }); 
	          });
	    </script>
	</aside>
	</body>
</div>
</html>