<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
layout:decorate="@{layout/default-shop}">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<th:block layout:fragment="customJs">
<script>
$(document).ready(function () {
    $('.radioButton').click(function () {

			var str = ""
			var tdArr = new Array();	// 배열 선언
			var checkBtn = $(this);

			var tr = checkBtn.parent().parent();
			var td = tr.children();
			td.each(function(i){	
				tdArr.push(td.eq(i).text());
			});

			console.log("클릭한 Row의 모든 데이터 : "+td.text());
			
			// 반복문을 이용해서 배열에 값을 담음
			td.each(function(i){	
				tdArr.push(td.eq(i).text());
			});
		
			
			/*console.log(tdArr[2]); //매출코드
			console.log(tdArr[3]); //주문번호
			console.log(tdArr[4]); //전표번호
			console.log(tdArr[5]); //공급가액
			console.log(tdArr[6]); //세액
			console.log(tdArr[7]); //일자
			console.log(tdArr[8]); //환불일자
			console.log(tdArr[9]); //그룹전표번호
			console.log(tdArr[10]); //출고코드 */
			
			document.getElementById("groupslip").value = tdArr[9]; //그룹전표번호
			document.getElementById("renontax").value = tdArr[5]; //공급가
			document.getElementById("retax").value = tdArr[6]; //세액
			//console.log(tdArr[6])
			document.getElementById("releaseCode").value = tdArr[10];//출고코드

    });
    
    //버튼을 선택하지않고 입력완료 선택시 경고창
    $('#sign').click(function () {
    	 var Category1 = $('.radioButton');
    	    if($(':radio[class="radioButton"]:checked').length < 1){
    	        alert('발행대상을 선택해주세요');
    	        Category1.focus();
    	        event.preventDefault();
    	   		}
    	
    });
   
  });
 
 //검색

$(document).ready(function(){
	  $("#myInput").on("keyup", function() {
	    var value = $(this).val().toLowerCase();
	    $("#myTable tr").filter(function() {
	      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
	    });
	  });
	});

</script>
</th:block>

<th:block layout:fragment="customContents">
<!-- Content Wrapper. Contains page content -->
	<div class="content-wrapper">
		<!-- Content Header (Page header) -->
		<section class="content-header">
			<div class="container-fluid">
				<div class="row mb-2">
					<div class="col-sm-6">
						<h1>"addIncome / 쇼핑몰 매출 등록"</h1>
					</div>
					<div class="col-sm-6">
						<ol class="breadcrumb float-sm-right">
							<li class="breadcrumb-item"><a href="/shop/index-shop">Home</a></li>
							<li class="breadcrumb-item active">매출관리</li>
						</ol>
					</div>
				</div>
			</div>
			<!-- /.container-fluid -->
		</section>

		<!-- Main content -->
		<section class="content">
			<div class="container-fluid">
				<div class="row">
					<!-- left column -->
					<div class="col-md-12">
						<!-- /.card-header -->
						<!-- Horizontal Form -->
						<div class="card card-success">
							<div class="card-header">
								<h3 class="card-title">쇼핑몰 매출 등록</h3>
							</div>
							<!-- /.card-header -->
							<!-- form start -->
							<form class="form-horizontal" th:action="@{/shop/accounting/addIncome}" method="post">
								<div class="card-body">
									<input class="form-control col-md-3" style="float : right" id="myInput" type="text" placeholder="검색어를 입력해주세요">
									
									<!-- 주문내역 테이블 시작 -->
									<div style="width: 100%;">
									<label for="biz" class="col-sm-6 col-form-label">주문내역 - 발행대상을 선택해주세요</label>
									<table class="table table-hover table-condensed" style="font-size: 13px; overflow-y : scroll; height: 150px;">
										<thead>
											<tr>
												<th>선택</th>
												<th>구분</th>
												<th>매출코드</th>
												<th>주문번호</th>
												<th>전표번호</th>
												<th>공급가액</th>
												<th>세액</th>
												<th>일자</th>
												<th>환불일자</th>
												<th>그룹전표코드</th>
												<th>출고코드</th>
											</tr>
										</thead>
										<tbody id="myTable">
											<tr th:if="${not #lists.isEmpty(shopAddAccounting)}" th:each="a: ${shopAddAccounting}">
												<td><input type="radio" th:disabled="${a.addIncome.equals('발행완료')}" name="list" class="radioButton"></td>
												<td th:text="${a.addIncome}" ></td>
												<td th:text="${a.shopIncomeCode}"></td>
												<td th:text="${a.shopOrderCode}" ></td>
												<td th:text="${a.shopSlipNumber}" ></td>
												<td th:text="${a.renontax}"></td>
												<td th:text="${a.retax}" ></td>
												<td th:text="${a.shopPaymentDate}" ></td>
												<td th:text="${a.shopRefundDate}"></td>
												<td th:text="${a.groupslip}" ></td>
												<td th:text="${a.releaseCode}"></td>
												</tr>
											<tr th:unless="${not #lists.isEmpty(shopAddAccounting)}">
												<td>내역이 없습니다.</td>
											</tr>
										</tbody>
									</table>
								</div>
								<!-- 주문내역 테이블 끝  -->
								<div class="row">
									<label for="biz" class="col-sm-6 col-form-label">주문내역 - 발행내역을 확인해주세요</label>
								</div>
								<!-- insert -->
								<div class="form-group row">
									<label for="shopIsCode" class="col-sm-2 col-form-label">계정과목코드</label>
										<div class="col-sm-6">
											<div class="col-sm-6">
							                        <input type="text" value="40101" name="shopIsCode"  readonly="readonly" style="width:220px;">
							                 </div>
										</div>
									</div>
									<div class="form-group row">
										<label for="addIncomeCode" class="col-sm-2 col-form-label">발행할 매출코드 </label>
										<div class="col-sm-6">
											<div class="col-sm-6">
							                       <input type="text" th:value="${shopAddIncomeCode.addIncomeCode}" id="addIncomeCode" name="addIncomeCode"  readonly="readonly" style="width:220px;"></input>
							                 </div>
										</div>
									</div>
									<div class="form-group row">
										<label for="groupslip" class="col-sm-2 col-form-label">전표번호 </label>
										<div class="col-sm-6">
											<div class="col-sm-6">
							                       <input type="text" name="groupslip" id="groupslip" readonly="readonly"  style="width:220px;"></input>
							                 </div>
										</div>
									</div>
									<div class="form-group row">
										<label for="renontax" class="col-sm-2 col-form-label">공급가 </label>
										<div class="col-sm-6">
											<div class="col-sm-6">
							                       <input type="number" name="renontax" readonly="readonly" id="renontax"style="width:220px;"></input>
							                 </div>
										</div>
									</div>
									<div class="form-group row">
										<label for="retax" class="col-sm-2 col-form-label">세액 </label>
										<div class="col-sm-6">
											<div class="col-sm-6">
							                       <input type="number" name="retax" readonly="readonly"  id="retax"style="width:220px;"></input>
							                 </div>
										</div>
									</div>
									<div class="form-group row">
										<label for="releaseCode" class="col-sm-2 col-form-label">출고 </label>
										<div class="col-sm-6">
											<div class="col-sm-6">
							                       <input type="text" name="releaseCode" id="releaseCode" readonly="readonly" style="width:220px;"></input>
							                 </div>
										</div>
									</div>
									<!-- 매퍼에서 shopid001로 고정되어있음. -->
									<div class="form-group row">
										<label for="shopMemberId" class="col-sm-2 col-form-label">등록자 </label>
										<div class="col-sm-6">
											<div class="col-sm-6">
							                       <input type="text" th:value="${shopMemberId}" readonly="readonly" style="width:220px;"></input>
							                 </div>
										</div>
									</div>
								<!-- /insert -->
								<!-- /.card-body -->
								<div class="card-footer">
									<button type="submit" class="btn btn-success" id="sign">입력완료</button>
									<button type="button" onclick="history.back();"  class="btn btn-default float-right">취소</button>
								</div>
								<!-- /.card-footer -->
								</div>
							</form>
						</div>
						<!-- /.card -->
					</div>
					<!--/.col (left) -->
				</div>
				<!-- /.row -->
			</div>
			<!-- /.container-fluid -->
		</section>
		<!-- /.content -->
	</div>
	<!-- /.content-wrapper -->
</th:block>
</html>