<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="@{layout/default-shop}">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<th:block layout:fragment="customContents">
<!-- Content Wrapper. Contains page content -->
	<div class="content-wrapper">
	<!-- Content Header (Page header) -->
		<div class="content-header">
			<div class="container-fluid">
				<div class="row mb-2">
					<div class="col-sm-6">
						<h1 class="m-0" th:text="${title}"></h1>
					</div><!-- /.col -->
					<div class="col-sm-6">
						<ol class="breadcrumb float-sm-right">
							<li class="breadcrumb-item"><a th:href="@{/shop/index-shop}">Home</a></li>
							<li class="breadcrumb-item active">거래처관리</li>
						</ol>
					</div><!-- /.col -->
				</div><!-- /.row -->
			</div><!-- /.container-fluid -->
		</div>
	<!-- /.content-header -->
	
	<!-- Main content -->
		<div class="content">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<div class="card">
							<div class="card-header">
								<h5 class="card-title" th:text="${title}"></h5>
							</div>
							<div class="card-body">
								<table class="table table-hover table-coondensed" style="text-align: center; font-size: 13px;">
									<thead>
										<tr>
											<th>상호명</th>
											<th>연락처</th>
											<th>담당자</th>
											<th>대표자</th>
											<th>사업자 번호</th>
											<th>주소</th>
											<th>업태</th>
											<th>종목</th>
											<th>등록일</th>
											<th>수정</th>
											<th>삭제</th>
										</tr>
									</thead>
									<tbody>
										<tr th:if="${not #lists.isEmpty(businesslist)}" th:each="bl : ${businesslist}">
											<td th:text="${bl.shopClientBusinessName}"></td>
											<td th:text="${bl.mainBusinessCode}" style="display: none"></td>
											<td th:text="${bl.shopClientCode}" style="display: none"></td>
											<td th:text="${bl.shopClientBusinessPhone}"></td>
											<td th:text="${bl.shopClientBusinessStaff}"></td>
											<td th:text="${bl.shopClientBizLeaderName}"></td>
											<td th:text="${bl.shopClientBusinessNumber}"></td>
											<td th:text="${bl.shopClientBusinessAddr}"></td>
											<td th:text="${bl.shopClientBusinessType1}"></td>
											<td th:text="${bl.shopClientBusinessType2}"></td>
											<td th:text="${bl.shopClientBusinessRegDate}"></td>
											<td><a th:href="@{/shop/business/modifyBusinessInfo(shopClientCode=${bl.shopClientCode})}">수정</a></td>
											<td><button type="button" class="btn btn-primary deleteBtn btn-success btn-xs" th:onclick="deleteBtn([[${bl.shopClientCode}]]);">삭제</button></td>
										</tr>
										<tr th:unless="${not #lists.isEmpty(businesslist)}">
											<td><h3>데이터가 없습니다.</h3></td>
										<tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<!-- /.row -->
				</div>
				<!-- /.container-fluid -->
			</div>
	    	<!-- /.content -->
		</div>
	</div>
<!-- /.content-wrapper -->
	<script type="text/javascript">
	//[재천] 회원삭제
	function deleteBtn(shopClientCode) {
		var deleteConfirm = confirm('삭제하시겠습니까?');
		if(deleteConfirm) {
			if(shopClientCode != null && shopClientCode != ""){
				console.log(shopClientCode);
				var request = $.ajax({
					  url: "/shop/business/deleteBusinessInfo",
					  method: "POST",
					  data: { shopClientCode : shopClientCode },
					  dataType: "text"
					});
				
				request.done(function(data) {
					if(data > 0) {
						alert("삭제 되었습니다.");
					}else {
						alert("실패했습니다.");
					}
					location.reload();
				});
			} else {
				alert("삭제 실패 ");
			}
		}
	}
    </script>
</th:block>
</html>