<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="@{layout/default-sw}">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<th:block layout:fragment="customContents">
	<!-- 전체컨텐츠 -->
	<div class="content-wrapper">
		<!-- 컨텐츠 헤더 -->
		<div class="content-header">
			<div class="container-fluid">
				<div class="row mb-2">
					<div class="col-sm-6">
						<h1 class="m-0" th:text="${title}"></h1>
					</div>
					<div class="col-sm-6">
						<ol class="breadcrumb float-sm-right">
							<li class="breadcrumb-item"><a th:href="@{/sw/index-sw}">Home</a></li>
							<li class="breadcrumb-item active">코드관리</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	
		<!-- 메인컨텐츠 -->
		<div class="content">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<div class="card">
							<div class="card-header">
								<h5 class="card-title" th:text="${title}"></h5>
							</div>
							<form id="addBusinessCodeForm" th:action="@{/sw/code/addBusinessCode}"class="form-horizontal" method="post">
								<div class="card-body">
									<div class="form-group row">
										<label class="col-sm-2 col-form-label text-right">거래처 구분 코드</label>
										<div class="col-sm-8">
											<input type="text" class="form-control" id="businessCode" placeholder="거래처 구분 코드를 입력하세요" name="businessCode" check="nomal">
										</div>
										<div>
											<button type="button" id="businessCodeCheckBtn" class="btn btn-primary">중복확인</button>
										</div>
									</div>
									<div class="form-group row">
										<label class="col-sm-2 col-form-label text-right">거래처 종류 이름</label>
										<div class="col-sm-8">
											<input type="text" class="form-control" id="businessCodeName" placeholder="거래처 구분 코드 이름을 입력하세요" name="businessCodeName">
										</div>
									</div>
									<div class="card-footer">
										<button type="button" name="addBusinessCodeBtn" class="btn btn-primary" id="addBusinessCodeBtn">등록</button>
										<button type="button" name="cancleBtn" class="btn btn-default float-right" id="cancleBtn" onclick="cancle()">취소</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
	$('#businessCodeCheckBtn').click(function(){
		var businessCode = $('#businessCode').val();
		//[재천]ajax통신 코드 중복체크
		var request = $.ajax({
			  url: "/sw/code/codeCheck",
			  method: "POST",
			  data: { businessCode : businessCode },
			  dataType: "text"
			});
		request.done(function(data) {
			if(businessCode != null && businessCode != ""){
				if(data == "true"){
					alert('코드 등록 불가능');
					$('#addBusinessCodeForm input').not('#businessCode').prop('disabled', true);
					$('#addBusinessCodeForm button').not('#businessCodeCheckBtn').prop('disabled', true);
				}else{
					alert('코드 등록 가능');
					$('#addBusinessCodeForm input').not('#businessCode').prop('disabled', false);
					$('#addBusinessCodeForm button').not('#businessCodeCheckBtn').prop('disabled', false);
					$('#businessCode').attr('check','pass');
				}
			}else{
				alert('공백은 사용하실수 없습니다.');
			}
		});
	});
	
	//[재천]코드 변경 시 초기 세팅으로
	$(function(){
		$('#businessCode').change(function(){
			$('#businessCode').attr('check','nomal');
		});
	});
	
	//[재천]거래처 종류 이름 (한글)
	$(function(){
		$('#businessCodeName').blur(function(){
			var regName = /^[가-힣\s]+$/;
			var businessCodeName = $('#businessCodeName').val();
			if(!regName.test(businessCodeName)){
				alert('한글만 입력하세요');
				$('#businessCodeName').val('');
				return false;
			}else{
				return true;
			}
		});
	});
	
	$(function(){
		$('#addBusinessCodeBtn').click(function(){
			//[재천]비즈니스 코드 중복체크
			var businessCode = $('#businessCode').attr('check');
			if(businessCode != "pass"){
				alert("아이디 중복체크를 해주세요");
				return false;
			}
			
			//코드이름 공백체크
			var businessCodeName = $('#businessCodeName').val();
			if(businessCodeName == null || businessCodeName == ""){
				alert("코드이름을 입력해주세요");
				return false;
			}
			$(this).attr('type','submit');
			$(this).submit();
		});
	});
	
	function cancle(){
		var cancleBtn = confirm('거래처 구분 코드 등록을 취소하시겠습니까?');
		if(cancleBtn){
			location.href = "/sw/index-sw";
		}
	}
	</script>
</th:block>
</html>


