<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="@{layout/default-sw}">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<th:block layout:fragment="customJs">
	<script>
	$(function(){
	$('#refundStateCodeCheckBtn').click(function(){
	
		var refundStateCode = $('#refundStateCode').val();
		//[환철]ajax통신 결제상태 코드 중복체크
		var request = $.ajax({
			  url: "/sw/code/refundCodeCheck",
			  method: "POST",
			  data: { refundStateCode : refundStateCode },
			  dataType: "text"
			});
		request.done(function(data) {
			if(refundStateCode != null && refundStateCode != ""){
				// [환철] 결제상태 코드 - 영어 (소,대) 입력 가능
					var eng = /^[a-zA-Z]*$/; 
				if(data == "true"){
					alert('중복되는 코드입니다.');
					$('#addRefundCodeForm input').not('#refundStateCode').prop('disabled', true);
					$('#addRefundCodeForm button').not('#refundStateCodeCheckBtn').prop('disabled', true);
				}else if(!eng.test($('#refundStateCode').val())){
					alert('영어만 입력 가능합니다');
					$('#refundStateCode').val('');
					$('#addRefundCodeForm input').not('#refundStateCode').prop('disabled', true);
					$('#addRefundCodeForm button').not('#refundStateCodeCheckBtn').prop('disabled', true);
				}else{
					alert('사용할 수 있는 코드입니다.');
					$('#addRefundCodeForm input').not('#refundStateCode').prop('disabled', false);
					$('#addRefundCodeForm button').not('#refundStateCodeCheckBtn').prop('disabled', false);
					$('#refundStateCode').attr('check','pass');
				}
			}else{
				alert('코드를 입력해주세요');
			}
		});
	});	
	$('#addRefundStateCode').click(function(){
		// [환철] - 결제상태 / 한글만 입력가능
		var regName = /^[가-힣\s]+$/;
		var refundState = $('#refundState').val();
		if(!regName.test(refundState)){
			alert('결제 상태는 한글만 입력 가능합니다');
			$('#refundState').val('');
		}
		//[환철]결제상태 코드 중복체크
		var refundStateCode = $('#refundStateCode').attr('check');
		if(refundStateCode != "pass"){
			alert("코드 중복체크를 해주세요");
			return false;
		}
		
		//코드이름 공백체크
		var refundState = $('#refundState').val();
		if(refundState == null || refundState == ""){
			alert("코드이름을 입력해주세요");
			return false;
		}
		$(this).attr('type','submit');
		$(this).submit();
	});

	// [환철]-  취소 버튼
	$('#cancleBtn').click(function(){
		var cancleBtn = confirm('결제상태코드 등록을 취소하시겠습니까?');
		if(cancleBtn){
			location.href = "/sw/code/selectContractRefundStateCode";
			}
		});
});
	</script>
</th:block>
<th:block layout:fragment="customContents">
	<!-- 전체컨텐츠 -->
	<div class="content-wrapper">
		<!-- 컨텐츠 헤더 -->
		<div class="content-header">
			<div class="container-fluid">
				<div class="row mb-2">
					<div class="col-sm-6">
						<h1 class="m-0" th:text="${title}"></h1>
					</div>
					<div class="col-sm-6">
						<ol class="breadcrumb float-sm-right">
							<li class="breadcrumb-item"><a href="#">Home</a></li>
							<li class="breadcrumb-item active">Starter Page</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	
		<!-- 메인컨텐츠 -->
		<div class="content">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<div class="card card-primary">
							<div class="card-header">
								<div class="card-title" th:text="${title}"></div>
							</div>
							<form id="addRefundCodeForm" th:action="@{/sw/code/addContractRefundStateCode}"class="form-horizontal" method="post">
								<div class="card-body">
									<div class="form-group row">
										<label class="col-sm-2 col-form-label text-right">서비스 환불상태 코드 : </label>
										<div class="col-sm-8">
											<input type="text" class="form-control" id="refundStateCode" placeholder="환불 상태 코드를 입력하세요" name="refundStateCode">
										</div>
										<div>
											<button type="button" id="refundStateCodeCheckBtn" class="btn btn-primary">중복확인</button>
										</div>
									</div>
									<div class="form-group row">
										<label class="col-sm-2 col-form-label text-right">서비스 환불 상태   : </label>
										<div class="col-sm-8">
											<input type="text" class="form-control" id="refundState" placeholder="서비스  환불상태를 입력하세요" name="refundState">
										</div>
									</div>
									<div class="card-footer">
										<button type="submit" id="addRefundStateCode" name="addRefundStateCode" class="btn btn-primary">등록</button>
										<button type="button" id="cancleBtn" name="cancleBtn" class="btn btn-default float-right">취소</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</th:block>
</html>