<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/default-sw}">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<th:block layout:fragment="customContents">
	<!-- Content Wrapper. Contains page content -->
	<div class="content-wrapper">
		<!-- Content Header (Page header) -->
		<section class="content-header">
			<div class="container-fluid">
				<div class="row mb-2">
					<div class="col-sm-6">
						<h1>"addIsListCode / 개발사 계정과목 수정"</h1>
					</div>
					<div class="col-sm-6">
						<ol class="breadcrumb float-sm-right">
							<li class="breadcrumb-item"><a href="#">Home</a></li>
							<li class="breadcrumb-item active">General Form</li>
						</ol>
					</div>
				</div>
			</div>
			<!-- /.container-fluid -->
		</section>

		<!-- Main content -->
		<section class="content">
			<div class="container-fluid">
				<div class="row">
					<!-- left column -->
					<div class="col-md-12">
						<!-- /.card-header -->
						<!-- Horizontal Form -->
						<div class="card card-primary">
							<div class="card-header">
								<h3 class="card-title">개발사 계정과목 수정</h3>
							</div>
							<!-- /.card-header -->
							<!-- form start -->
							<form class="form-horizontal" th:action="@{/sw/code/addyIsListCode}" method="post">
								<div class="card-body">
									<div class="form-group row">
										<label for="IsCode" class="col-sm-2 col-form-label">수정할 계정과목코드 : </label>
										<div class="col-sm-6">
											<input type="text" id="swIsCode" name="swIsCode" readonly="readonly" th:value="${swIsCodeInfo.swIsCode}">
										</div>
									</div>
									<div class="form-group row">
										<label for="IsCode" class="col-sm-2 col-form-label">수정할 계정과목이름 : </label>
										<div class="col-sm-6">
											<input type="text" id="swIsName" name="swIsName" readonly="readonly" th:value="${swIsCodeInfo.swIsName}">
										</div>
									</div>
									<div class="form-group row">
										<label for="IsCode" class="col-sm-2 col-form-label">계정사용여부</label>
										<div class="col-sm-2">
											<select class="form-control " style="width: 120%;">
												<option selected="selected" style="text-align: center">:: 계정사용여부 ::</option>
												<option value="Y">사용</option>
												<option value="N">미사용</option>
											</select>
										</div>
									</div>
									<div class="form-group row">
										<label for="IsCode" class="col-sm-2 col-form-label">통합그룹코드</label>
										<div class="col-sm-6">
											<input type="text" id="GroupCode" th:value="${swIsCodeInfo.swIsGroupCode}" disabled="disabled">
										</div>
									</div>
								</div>
								<!-- /.card-body -->
								<div class="card-footer">
									<button type="submit" class="btn btn-primary">입력완료</button>
									<button type="submit" class="btn btn-default float-right">취소</button>
								</div>
								<!-- /.card-footer -->
							</form>
						</div>
						<!-- /.card -->
					</div>
					<!--/.col (left) -->
				</div>
				<!-- /.row -->
			</div>
			<!-- /.container-fluid -->
		</section>
		<!-- /.content -->
	</div>
	<!-- /.content-wrapper -->
	<script type="text/javascript">
	
		/*$(document).ready(function() {
			$('#selectBox').change(function() {
				var state = $('#selectBox option:selected').val();
				if (state == 'production') {
					$('.layer1').show();
					$('.layer2').hide();
				} else if (state == 'sales') {
					$('.layer1').hide();
					$('.layer2').show();
				} else {
					$('.layer1').hide();
					$('.layer2').hide();
				}
			});
		});*/
		
		
		//$("select option[value*='Sold Out']").prop('disabled',true);
	</script>
</th:block>
</html>