<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
layout:decorate="@{layout/default-sw}">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<th:block layout:fragment="customContents">
<!-- Content Wrapper. Contains page content -->
	<div class="content-wrapper">
	<!-- Content Header (Page header) -->
		<div class="content-header">
			<div class="container-fluid">
				<div class="row mb-2">
					<div class="col-sm-6">
						<h1 class="m-0" th:text="${title}"></h1>
					</div><!-- /.col -->
					<div class="col-sm-6">
						<ol class="breadcrumb float-sm-right">
							<li class="breadcrumb-item"><a href="#">Home</a></li>
							<li class="breadcrumb-item active">Starter Page</li>
						</ol>
					</div><!-- /.col -->
				</div><!-- /.row -->
			</div><!-- /.container-fluid -->
		</div>
	<!-- /.content-header -->
	
	<!-- Main content -->
		<div class="content">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<div class="card">
							<div class="card-header">
								<h5 class="card-title" th:text="${title}"></h5>
							</div>
							<form id="addLocalCodeForm" th:action="@{/sw/code/addLocalCode}"class="form-horizontal" method="post">
								<div class="card-body">
									<div class="form-group row">
										<label class="col-sm-2 col-form-label text-right">지역 코드 : </label>
										<div class="col-sm-8">
											<input type="text" class="form-control" id="localCode" placeholder="지역 코드를 입력하세요" name="localCode" check="nomal">
										</div>
										<div>
											<button type="button" id="localCodeCheckBtn" class="btn btn-primary">중복확인</button>
										</div>
									</div>
									<div class="form-group row">
										<label class="col-sm-2 col-form-label text-right">지역 번호 : </label>
										<div class="col-sm-8">
											<input type="text" class="form-control" id="localNumber" placeholder="지역번호를 입력하세요" name="localNumber">
										</div>
									</div>
									<div class="form-group row">
										<label class="col-sm-2 col-form-label text-right">지역 이름 : </label>
										<div class="col-sm-8">
											<input type="text" class="form-control" id="localName" placeholder="지역 이름을 입력하세요" name="localName">
										</div>
									</div>
								</div>
								<div class="card-footer">
									<button type="button" name="addLocalCodeBtn" class="btn btn-primary" id="addLocalCodeBtn">등록</button>
									<button type="button" name="cancleBtn" class="btn btn-default float-right" id="cancleBtn">취소</button>
								</div>
							</form>
						</div>
					</div>
					<!-- /.row -->
				</div>
				<!-- /.container-fluid -->
			</div>
	    	<!-- /.content -->
		</div>
	</div>
<!-- /.content-wrapper -->
<script type="text/javascript">
	$('#localCodeCheckBtn').click(function(){
		var localCode = $('#localCode').val();
		//[재천]ajax통신 아이디 중복체크
		var request = $.ajax({
			  url: "/sw/code/localCodeCheck",
			  method: "POST",
			  data: { localCode : localCode },
			  dataType: "text"
			});
		request.done(function(data) {
			if(localCode != null && localCode != ""){
				if(data == "true"){
					alert('지역코드 등록 불가능');
					$('#addLocalCodeForm input').not('#localCode').prop('disabled', true);
					$('#addLocalCodeForm button').not('#localCodeCheckBtn').prop('disabled', true);
					//$('#addMemberForm #memberId').attr("readonly", false);
				}else{
					alert('지역코드 등록 가능');
					$('#addLocalCodeForm input').not('#localCode').prop('disabled', false);
					$('#addLocalCodeForm button').not('#localCodeCheckBtn').prop('disabled', false);
					$('#localCode').attr('check','pass');
					//$('#addMemberForm #memberId').attr("readonly", true);
				}
			}else{
				alert('공백은 사용하실수 없습니다.');
			}
		});
	});

	$(function(){
		//[재천]지역숫자 유효성검사(숫자)
		$('#localNumber').blur(function(){
			var regNumber = /^[0-9]+$/;
			var localNumber = $('#localNumber').val();
			if(!regNumber.test(localNumber)){
				alert("숫자만 입력가능합니다.");
				$('#localNumber').val('');
				return false;
			}else{
				return true;
			}
		});
	});

	$(function(){
		//[재천]지역이름 유효성검사(한글)
		$('#localName').blur(function(){
			var regName = /^[가-힣]+$/;
			var localName = $('#localName').val();
			if(!regName.test(localName)){
				alert("한글만 입력하세요");
				$('#localName').val('');
			}
		});
	});

	$(function(){
		//지역코드 변경시 초기화
		$('#localCode').change(function(){
			$('#localCode').attr('check','nomal');
		});
	});
	
	
	$(function(){
		$('#addLocalCodeBtn').click(function(){
			var localCode = $('#localCode').attr('check');
			if(localCode != "pass"){
				alert("중복확인을 해주세요");
				return false;
			}
			var localNumber = $('#localNumber').val();
			if(localNumber == null || localNumber == ""){
				alert("지역번호을 입력하세요");
				return false;
			}
			var localName = $('#localName').val();
			if(localName == null || localName == ""){
				alert("지역이름을 입력하세요");
				return false;
			}
			$(this).attr('type','submit');
			$(this).submit();
		});
	});


</script>
</th:block>
</html>