<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="@{layout/default-sw}">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<th:block layout:fragment="customJs">
	<script>
	$(function(){


		
	$('#paymentStateCodeCheckBtn').click(function(){
	
		var paymentStateCode = $('#paymentStateCode').val();
		//[환철]ajax통신 결제상태 코드 중복체크
		var request = $.ajax({
			  url: "/sw/code/paymentCodeCheck",
			  method: "POST",
			  data: { paymentStateCode : paymentStateCode },
			  dataType: "text"
			});
		request.done(function(data) {
			if(paymentStateCode != null && paymentStateCode != ""){
				// [환철] 결제상태 코드 - 영어 (소,대) 입력 가능
					var eng = /^[a-zA-Z]*$/; 
				if(data == "true"){
					alert('중복되는 코드입니다.');
					$('#addPaymentCodeForm input').not('#paymentStateCode').prop('disabled', true);
					$('#addPaymentCodeForm button').not('#paymentStateCodeCheckBtn').prop('disabled', true);
				}else if(!eng.test($('#paymentStateCode').val())){
					alert('영어만 입력 가능합니다');
					$('#paymentStateCode').val('');
					$('#addPaymentCodeForm input').not('#paymentStateCode').prop('disabled', true);
					$('#addPaymentCodeForm button').not('#paymentStateCodeCheckBtn').prop('disabled', true);
				}else{
					alert('사용할 수 있는 코드입니다.');
					$('#addPaymentCodeForm input').not('#paymentStateCode').prop('disabled', false);
					$('#addPaymentCodeForm button').not('#paymentStateCodeCheckBtn').prop('disabled', false);
					$('#paymentStateCode').attr('check','pass');
				}
			}else{
				alert('공백은 사용하실수 없습니다.');
			}
		});
	});	
	$('#addPaymentCodeBtn').click(function(){
		var eng = /^[a-zA-Z]*$/; 
		var kor = /^[가-힣\s]+$/
		
		if($('#paymentStateCode').val() == ''){
			alert('코드명을 입력해주세요')
			return false;
		}
		if(!eng.test($('paymentStateCode').val())){
			alert('코드명은 영어만 입력 가능합니다.')
			$('paymentStateCode').val('');
			$('paymentStateCode').focus();
			return false;
		}
		if($('#paymentState').val() == ''){
			alert('서비스 결제 상태를 입력해주세요');
			return false;
		}
		if(!kor.test($('#paymentState').val())){
			alert('결제 상태는 한글만 입력 가능합니다');
			$('#paymentState').val('');
			$('#paymentState').focus();
		}
		var paymentStateCode = $('#paymentStateCode').attr('check');
		if(paymentStateCode != "pass"){
			alert("코드 중복체크를 해주세요");
			return false;
		}

		$(this).attr('type','submit');
		$(this).submit();
	});

	// [환철]-  취소 버튼
	$('#cancleBtn').click(function(){
		var cancleBtn = confirm('결제상태 코드 등록을 취소하시겠습니까?');
		if(cancleBtn){
			location.href = "/sw/code/selectPaymentStateCode";
			}
		});
});
	</script>
</th:block>
<th:block layout:fragment="customContents">
	<!-- 전체컨텐츠 -->
	<div class="content-wrapper">
		<!-- 컨텐츠 헤더 -->
		<div class="content-header">
			<div class="container-fluid">
				<div class="row mb-2">
					<div class="col-sm-6">
						<h1 class="m-0" th:text="${title}"></h1>
					</div>
					<div class="col-sm-6">
						<ol class="breadcrumb float-sm-right">
							<li class="breadcrumb-item"><a th:href="@{/sw/index-sw}">Home</a></li>
							<li class="breadcrumb-item active">결제상태 등록 </li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	
		<!-- 메인컨텐츠 -->
		<div class="content">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<div class="card card-primary">
							<div class="card-header">
								<div class="card-title" th:text="${title}"></div>
							</div>
							<form id="addPaymentCodeForm" th:action="@{/sw/code/addPaymentStateCode}"class="form-horizontal" method="post">
								<div class="card-body">
									<div class="form-group row">
										<label class="col-sm-2 col-form-label text-right">서비스 결제상태 코드 : </label>
										<div class="col-sm-8">
											<input type="text" class="form-control" id="paymentStateCode" placeholder="결제 상태 코드를 입력하세요" name="paymentStateCode">
										</div>
										<div>
											<button type="button" id="paymentStateCodeCheckBtn" class="btn btn-primary">중복확인</button>
										</div>
									</div>
									<div class="form-group row">
										<label class="col-sm-2 col-form-label text-right">서비스 결제 상태   : </label>
										<div class="col-sm-8">
											<input type="text" class="form-control" id="paymentState" placeholder="서비스 결제상태를 입력하세요" name="paymentState">
										</div>
									</div>
									<div class="card-footer">
										<button type="submit" id="addPaymentCodeBtn" name="addPaymentCodeBtn" class="btn btn-primary">등록</button>
										<button type="button" id="cancleBtn" name="cancleBtn" class="btn btn-default float-right">취소</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</th:block>
</html>