<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="@{layout/default-sw}">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<th:block layout:fragment="customJs">
<script type="text/javascript">

//검색창
$(document).ready(function(){
	  $("#myInput").on("keyup", function() {
	    var value = $(this).val().toLowerCase();
	    $("#myTable tr").filter(function() {
	      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
	    });
	  });
	});
}

$( "input" ).datepicker({
    dateFormat:"yy-mm-dd",
    onSelect:function(val,obj){
        $("table tr td:contains('"+val+"')").parent("tr").fadeIn().siblings().fadeOut();
        //console.log($("table tr td[textContent='"+val+"']"));
    }
});

</script>
</th:block>
<input type="text" name="day" />
<th:block layout:fragment="customContents">
<!-- Content Wrapper. Contains page content -->
	<div class="content-wrapper">
		<!-- Content Header (Page header) -->
			<div class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-6">
							<h1 class="m-0" th:text="${title}"></h1>
						</div><!-- /.col -->
						<div class="col-sm-6">
							<ol class="breadcrumb float-sm-right">
								<li class="breadcrumb-item"><a href="/sw/index-sw">Home</a></li>
								<li class="breadcrumb-item active">재무관리</li>
							</ol>
						</div><!-- /.col -->
					</div><!-- /.row -->
				</div><!-- /.container-fluid -->
			</div>
			<!-- /.content-header -->
			
		<!-- Main content -->
		<div class="content">
			<div class="container-fluid">
	        	<div class="row">
					<div class="col-lg-12">
						<div class="card">
							<div class="card-body">
								<h5 class="card-title" th:text="${title}"></h5>
								<input class="form-control col-md-3" style="float : right" id="myInput" type="text" placeholder="검색어를 입력해주세요">
								<p class="card-text">
									<table class="table table-hover table-condensed swiscodelist">
										<thead>
											<tr>
												<th>계정과목코드</th>
												<th>계정과목명</th>
												<th>통합계정그룹코드</th>
												<th>계정사용여부</th>
												<th>수정가능여부</th>
												<th>등록일자</th>
												<th>등록자아이디</th>
												<th>반영연도</th>
												<th>수정</th>
											</tr>
										</thead>
										<tbody id="myTable">
										<tr th:if="${not #lists.isEmpty(swIsListCode)}" th:each="sl: ${swIsListCode}">
											<td th:text="${sl.swIsCode}"></td>
											<td th:text="${sl.swIsName}"></td>
											<td th:text="${sl.swIsGroupCode}"></td>
											<td th:text="${sl.swIsUse}"></td>
											<td th:text="${sl.swIsAmend}"></td>
											<td th:text="${sl.swIsRegDate}"></td>
											<td th:text="${sl.memberId}"></td>
											<td th:text="${sl.swIsYear}"></td>
											<td>
												<a th:href="@{/sw/code/addIsListCode(swIsCode=${sl.swIsCode})}" class="amend"><i class="fas fa-pencil-alt"></i></a>
											</td>
										</tr>
										<tr th:unless="${not #lists.isEmpty(swIsListCode)}">
											<td>
											안녕
											</td>
										</tr>
										</tbody>
									</table>
								</p>
							</div>
						</div>
					</div>
				</div>
				<!-- /.row -->
			</div>
			<!-- /.container-fluid -->
		</div>
		<!-- /.content -->
	</div>
	<!-- /.content-wrapper -->
</th:block>
</html>