<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
layout:decorate="@{layout/default-sw}">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
tbody tr {
   counter-increment : aaa;
}
tbody tr td:first-child:before {
   content: counter(aaa)"";
}
</style>
<link th:href="@{/customcss/css/serviceRequest.css}" rel="stylesheet"/>
<th:block layout:fragment="customContents">
<!-- Content Wrapper. Contains page content -->
   <div class="content-wrapper">
   <!-- Content Header (Page header) -->
      <div class="content-header">
         <div class="container-fluid">
            <div class="row mb-2">
               <div class="col-sm-6">
                  <h1 class="m-0">서비스 결제예정 </h1>
               </div><!-- /.col -->
               <div class="col-sm-6">
                  <ol class="breadcrumb float-sm-right">
                     <li class="breadcrumb-item"><a th:href="@{/sw/index-sw}">Home</a></li>
                     <li class="breadcrumb-item active">결제예정</li>
                  </ol>
               </div><!-- /.col -->
            </div><!-- /.row -->
         </div><!-- /.container-fluid -->
      </div>
   <!-- /.content-header -->
   
   <!-- Main content -->
      <div class="content">
         <div class="container-fluid">
            <div class="row">
               <div class="col-lg-12">
                  <div class="card card-primary">
                     <div class="card-header">서비스 결제예정</div>
                     <div class="card-body">
                        <div id="example2_wrapper"
                           class="dataTables_wrapper dt-bootstrap4">
                           <div class="row">
                              <div class="col-sm-12 col-md-6"></div>
                              <div class="col-sm-12 col-md-6"></div>
                           </div>
                           <div class="row">
                              <div class="col-sm-12">
                                 <table id="example2" class="table table-bordered table-hover dataTable dtr-inline" role="grid" aria-describedby="example2_info">
                                    <thead>
                                       <tr role="row">
                                          <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1">결제정보 코드</th>
                                          <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1">계약요청 코드</th>
                                          <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1">그룹전표번호 | 영수증번호</th>
                                          <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1">결제금액</th>
                                          <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1">결제예정 일자</th>
                                          <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1">결제상태</th>
                                          <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1">등록일자</th>
                                          <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1">결제확인</th>
                                       </tr>
                                    </thead>
                                    <tbody>
                                       <tr th:if="${not #lists.isEmpty(getServicePaymentSum)}" th:each="p : ${getServicePaymentSum}">
                                          <td th:text="${p.paymentCode}"></td>
                                          <td th:text="${p.contractManageCode}"></td>
                                          <td th:text="${p.slipNumber}"></td>
                                          <td th:text="${#numbers.formatInteger(p.serviceTotalPrice, 0, 'COMMA')}"></td>
                                          <td th:text="${p.servicePaymentDueDate}"></td>
                                          <td  th:text="${p.paymentState}"></td>
                                          <td th:text="${p.paymentSumRegistration}"></td>
                                          <td>
	                                          <a th:href="@{/sw/service/servicePaymentCheck(paymentCode=${p.paymentCode})}">
	                                          	<button type="button" class="btn-primary">보기</button>
	                                          </a>
                                          </td>
                                       </tr>
                                       <tr th:unless="${not #lists.isEmpty(getServicePaymentSum)}">
                                          <td colspan="9">등록된 계약요청이 없습니다.</td>
                                       </tr>
                                    </tbody>
                                 </table>
                              </div>
                           </div>
                           <!-- card-footer -->
                           <div class="card-footer">
	                           <div class="row">
	                              <div class="col-sm-12 col-md-5">
	                                 <div class="dataTables_info" id="example2_info" role="status"
	                                    aria-live="polite">Showing 1 to 10 of 57 entries</div>
	                              </div>
	                              <div class="col-sm-12 col-md-7">
	                                 <div class="dataTables_paginate paging_simple_numbers"
	                                    id="example2_paginate">
	                                    <ul class="pagination">
	                                       <li class="paginate_button page-item previous disabled"
	                                          id="example2_previous"><a href="#"
	                                          aria-controls="example2" data-dt-idx="0" tabindex="0"
	                                          class="page-link">Previous</a></li>
	                                       <li class="paginate_button page-item active"><a
	                                          href="#" aria-controls="example2" data-dt-idx="1"
	                                          tabindex="0" class="page-link">1</a></li>
	                                       <li class="paginate_button page-item "><a href="#"
	                                          aria-controls="example2" data-dt-idx="2" tabindex="0"
	                                          class="page-link">2</a></li>
	                                       <li class="paginate_button page-item "><a href="#"
	                                          aria-controls="example2" data-dt-idx="3" tabindex="0"
	                                          class="page-link">3</a></li>
	                                       <li class="paginate_button page-item "><a href="#"
	                                          aria-controls="example2" data-dt-idx="4" tabindex="0"
	                                          class="page-link">4</a></li>
	                                       <li class="paginate_button page-item "><a href="#"
	                                          aria-controls="example2" data-dt-idx="5" tabindex="0"
	                                          class="page-link">5</a></li>
	                                       <li class="paginate_button page-item "><a href="#"
	                                          aria-controls="example2" data-dt-idx="6" tabindex="0"
	                                          class="page-link">6</a></li>
	                                       <li class="paginate_button page-item next"
	                                          id="example2_next"><a href="#"
	                                          aria-controls="example2" data-dt-idx="7" tabindex="0"
	                                          class="page-link">Next</a></li>
	                                    </ul>
	                                 </div>
	                              </div>
	                           </div>
                           </div>
                           <!-- /card-footer -->
                        </div>
                     </div>
                  </div>
               </div>
               <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
         </div>
          <!-- /.content -->
      </div>
   </div>
<!-- /.content-wrapper -->
</th:block>
</html>