<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="@{layout/default-sw}">
<div th:replace="fragments/javascript :: javascriptFragment"></div>
<th:block layout:fragment="javascriptFragment">
</th:block>	  

<th:block layout:fragment="customContents">
	<!-- 전체컨텐츠 -->
	<div class="content-wrapper">
		<!-- 컨텐츠 헤더 -->
		<div class="content-header">
			<div class="container-fluid">
				<div class="row md-2">
					<div class="col-sm-6">
						<h1 class="m-0">"addClient / 개발사 외부회원등록"</h1>
					</div>
					<div class="col-sm-6">
						<ol class="breadcrumb float-sm-right">
							<li class="breadcrumb-item"><a href="#">Home</a></li>
							<li class="breadcrumb-item active">Starter Page</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
		<!-- 컨텐츠 헤더 끝 -->

		<!-- 메인컨텐츠 -->
		<div class="content">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<!-- 회원가입폼 -->
						<div class="card card-primary">
							<div class="card-header">
								<h3 class="card-title">개발사 내부회원 등록</h3>
							</div>
							
							<!-- 회원가입 폼 바디 시작 -->
							<form id="addClientForm" th:action="@{/sw/client/addClient}" method="post" class="form-horizontal">
								<div class="card-body">
									<div class="form-group row">
										<label class="col-sm-2 col-form-label text-right">아이디 : </label>
										<div class="col-sm-8">
											<input type="text" class="form-control" id="inputId" placeholder="아이디를 입력하세요" name="clientId">
										</div>
										<div>
											<button type="button" id="idCheckBtn" class="btn btn-success">중복확인</button>
										</div>
									</div>
									<div class="form-group row">
										<label class="col-sm-2 col-form-label text-right">비밀번호 : </label>
										<div class="col-sm-8">
											<input type="text" class="form-control" id="inputPw" placeholder="비밀번호를 입력하세요" name="clientPw">
										</div>
									</div>
									<div class="form-group row">
										<label class="col-sm-2 col-form-label text-right">비밀번호 확인 : </label>
										<div class="col-sm-8">
											<input type="text" class="form-control" id="pwCheck" placeholder="비밀번호를 한번 더 입력하세요" name="pwCheck">
										</div>
									</div>
									<div class="form-group row">
										<label class="col-sm-2 col-form-label text-right">이름 : </label>
										<div class="col-sm-8">
											<input type="text" class="form-control" id="inputName" placeholder="이름을 입력하세요" name="clientName">
										</div>
									</div>
									<div class="form-group row">
										<label class="col-sm-2 col-form-label text-right">이메일 : </label>
										<div class="col-sm-8">
											<input type="email" class="form-control" id="inputAddr" placeholder="주소를 입력하세요" name="clientEmail">
										</div>
									</div>
									<div class="form-group row">
										<label class="col-sm-2 col-form-label text-right">전화번호 : </label>
										<div class="col-sm-8">
											<input type="text" class="form-control" id="inputEmail" placeholder="이메일을 입력하세요" name="clientPhone">
										</div>
									</div>
								<!-- 회원가입폼 바디 끝 -->
								</div>
								
								<div class="card-footer">
									<button type="submit" class="btn btn-success" id ="addClientBtn"> 등록 </button>
									<button type="button" class="btn btn-default float-right" id="cancleCLientBtn"> 취소 </button>
								</div>
							</form>
							<!-- 회원가입 폼 끝 -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		//변수에 담아주기
		
	</script>
</th:block>
</html>


