<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
layout:decorate="@{layout/default-shop}">
<th:block layout:fragment="javascriptFragment">
</th:block>	 

<th:block layout:fragment="customContents">
<!-- Content Wrapper. Contains page content -->
	<div class="content-wrapper">
	<!-- Content Header (Page header) -->
		<div class="content-header">
			<div class="container-fluid">
				<div class="row mb-2">
					<div class="col-sm-6">
						<h1 class="m-0">쇼핑몰 결제  등록 </h1>
					</div><!-- /.col -->
					<div class="col-sm-6">
						<ol class="breadcrumb float-sm-right">
							<li class="breadcrumb-item"><a href="#">Home</a></li>
							<li class="breadcrumb-item active">Starter Page</li>
						</ol>
					</div><!-- /.col -->
				</div><!-- /.row -->
			</div><!-- /.container-fluid -->
		</div>
	<!-- /.content-header -->
	
	<!-- Main content -->
		<div class="content">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<div class="card card-success">
							<div class="card-header">
								<h5 class="card-title"> 쇼핑몰 결제  등록</h5>
							</div>
							
							<!--  쇼핑몰 결제  등록 등록 폼바디 시작 -->
								<form id="addPaymentCheckForm" th:action="@{/shop/order/addPaymentCheck}" method="post" class="form-horizontal"> 
								<p class="card-body" >
									
								
								<div class="form-group row">
									<label class="col-sm-2 col-form-laebl text-right">소비자아이디</label>
									<div class="col-sm-4">
										<input class="form-control" type="text" id="shopConsumerId" name="shopConsumerId" placeholder="소비자아이디" >
									</div>
								</div>
								
								
								

								<div class="form-group row">
									<label class="col-sm-2 col-form-laebl text-right">결제상태코드</label>
									<div class="col-sm-4">
										<input class="form-control" type="text" id="paymentStateCode" name="paymentStateCode" placeholder="paywaiting" readonly ="readonly">
									</div>
								</div>
								
								<div class="form-group row">
									<label class="col-sm-2 col-form-laebl text-right">금액</label>
									<div class="col-sm-4">
										<input class="form-control" type="text" id="shopPaymentCharge" name="shopPaymentCharge" placeholder="결제금액 (VAT포함)">
									</div>
								</div>
								
								<div class="form-group row">
									<label class="col-sm-2 col-form-laebl text-right">결제방법</label>
									<div class="col-sm-2">
										<select id="businessCode" class="form-control" name="paymentType">
											<option value="">::결제방법선택::</option>
											<option value="현금">현금</option>
											<option value="카드">카드</option>
											<option value="계좌이체">계좌이체</option>
											
										</select>
									</div>
								</div>
								
								<div class="form-group row">
									<label class="col-sm-2 col-form-laebl text-right">결제일</label>
									<div class="col-sm-4">
										<input class="form-control" type="date" id="shopPaymentDate" name="shopPaymentDate" placeholder="결제일">
									</div>
								</div>

								<div class="card-footer">
									<button type="submit" class="btn btn-success" id="addPaymentCheckBtn"> 등록 </button>
									<button type="button" class="btn btn-default float-right" id="cancleMainBusinessCodeBtn"> 취소 </button>
								</div>
							</form> 
							</div>
						</div>
					</div>
				</div>
				<!-- /.row -->
			</div>
			<!-- /.container-fluid -->
		</div>
		<!-- /.content -->
		</div>
	</div>
<!-- /.content-wrapper -->
</th:block>
</html>