<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
layout:decorate="@{layout/default-shop}">
<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1">
<th:block layout:fragment="customContents">
<!-- Content Wrapper. Contains page content -->
	<div class="content-wrapper">
	<!-- Content Header (Page header) -->
		<div class="content-header">
			<div class="container-fluid">
				<div class="row mb-2">
					<div class="col-sm-6">
						<h1 class="m-0">"selectOrder / 쇼핑몰 주문내역 조회"</h1>
					</div><!-- /.col -->
					<div class="col-sm-6">
						<ol class="breadcrumb float-sm-right">
							<li class="breadcrumb-item"><a href="#">Home</a></li>
							<li class="breadcrumb-item active">Starter Page</li>
						</ol>
					</div><!-- /.col -->
				</div><!-- /.row -->
			</div><!-- /.container-fluid -->
		</div>
	<!-- /.content-header -->
	
	<!-- Main content -->
		<div class="content">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<div class="card card-success" >
							<div class="card-header">
								<h5 class="card-title">쇼핑몰 주문 내역 조회</h5>
							</div>
							<div class="card-body">
								<p class="card-text">
									 <table class="table table-hover table-condensed shopOrder" >
										<thead>
											<tr>
												<th>주문자 아이디</th>
												<th>주문내역 코드</th>
												<th>상품코드</th>
												<th>주문수량</th>
												<th>결제 금액</th>
												<th>배송지</th>
												<th>연락처</th>
												<th>등록일자</th>
												<th>주문취소일자</th>
											
											</tr>
										</thead>
										<tbody>
										<tr th:if="${not #lists.isEmpty(order)}" th:each="od: ${order}">
											<td th:text="${od.shopConsumerId}"></td>
											<td th:text="${od.shopOrderCode}"></td>
											<td th:text="${od.assortCode}"></td>
											<td th:text="${od.shopOrderAmount}"></td>
											<td th:text="${#numbers.formatInteger(od.goodsPaymentAmount, 0, 'COMMA')}"></td>
											<td th:text="${od.shopDeliveryLocation}"></td>
											<td th:text="${od.shopCustomerPhone}"></td>
											<td th:text="${od.shopOrderRegDate}"></td>
											<td th:text="${od.shopOrderCancleDate}"></td>
										
										</tr>
										<tr th:unless="${not #lists.isEmpty(order)}">
											<td>
											안녕
											</td>
										</tr>
										</tbody>
									</table>
								</p>
												
												
							</div>
						</div>
					</div>
					<!-- /.row -->
				</div>
				<!-- /.container-fluid -->
			</div>
	    	<!-- /.content -->
		</div>
	</div>
<!-- /.content-wrapper -->
</th:block>
</html>