<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
layout:decorate="@{layout/default-shop}">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<th:block layout:fragment="customContents">
<script th:inline="javascript">
function deleteBtn(shopPaymentCheckCode) {
	if(shopPaymentCheckCode != null && shopPaymentCheckCode != ""){
		
		var delConfirm = confirm('해당 내역을 삭제합니다.');
		if (delConfirm) {
		      alert('삭제되었습니다.');
		      var request = $.ajax({
				  url: "/shop/order/deletePaymentCheck",
				  method: "POST",
				  data: { shopPaymentCheckCode : shopPaymentCheckCode },
				  dataType: "text"
				});
		      location.reload();
		   }
		location.reload();
		request.done(function(data) {
			if(data < 0) {
				alert("실패했습니다.");
			}
			location.reload();
		});
	} else {
		alert("삭제 실패 ");
	}
}

//마감내역 선택시 경고창
$(function(){
	$('#notPay').click(function(){
		alert('이미 결제된 내역입니다');
	})

});

</script>
<!-- Content Wrapper. Contains page content -->
	<div class="content-wrapper">
	<!-- Content Header (Page header) -->
		<div class="content-header">
			<div class="container-fluid">
				<div class="row mb-2">
					<div class="col-sm-6">
						<h1 class="m-0">"selectPaymentCheck / 쇼핑몰 결제 확인 상태 조회"</h1>
					</div><!-- /.col -->
					<div class="col-sm-6">
						<ol class="breadcrumb float-sm-right">
							<li class="breadcrumb-item"><a href="#">Home</a></li>
							<li class="breadcrumb-item active">Starter Page</li>
						</ol>
					</div><!-- /.col -->
				</div><!-- /.row -->
			</div><!-- /.container-fluid -->
		</div>
	<!-- /.content-header -->
	
	<!-- Main content -->
		<div class="content">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<div class="card card-success" >
							<div class="card-header">
								<h5 class="card-title">쇼핑몰 결제상태조회</h5>
							</div>
							<div class="card-body">
								<p class="card-text">
									<table class="table table-hover table-condensed shopPaymentCheck" >
										<thead>
											<tr>
												<th>구분</th>
												<th>결제확인코드</th>
												<th>소비자 아이디</th>
												<th>결제 상태 코드</th>
												<th>결제 금액(VAT포함)</th>
												<th>결제방법</th>
												<th>결제일</th>
												<th>결제완료</th>
												<th>삭제</th>


											</tr>
										</thead>
										<tbody>
										<tr th:if="${not #lists.isEmpty(shopPaymentCheck)}" th:each="sp: ${shopPaymentCheck}">
											<td th:if="${sp.shopPaymentDate == payWaiting}" th:text="등록대상"></td>
                                    		<td th:unless="${sp.shopPaymentDate == payComplete}" th:text="등록완료"></td>
											<td th:text="${sp.shopPaymentCheckCode}"></td>
											<td th:text="${sp.shopConsumerId}"></td>
											<td th:text="${sp.paymentStateCode}"></td>
											<td th:text="${#numbers.formatInteger(sp.shopPaymentCharge, 0, 'COMMA')}"></td>
											<td th:text="${sp.paymentType}"></td>
											<td th:text="${sp.shopPaymentDate}"></td>
											<td th:if="${sp.paymentStateCode} == 'PayWaiting'">
												<a th:href="@{/shop/order/modifyPaymentCheck(shopPaymentCheckCode=${sp.shopPaymentCheckCode})}"><i class="fas fa-pencil-alt" style="color: #28a745"></i></a></td>
											<td th:if="${sp.paymentStateCode} != 'PayWaiting'"><i class="fas fa-pencil-alt finish"></i></td>
												
											<td>
												<button type="button" class="btn btn-success deleteBtn" th:onclick="deleteBtn([[${sp.shopPaymentCheckCode}]]);">삭제</button>
											</td>
										
										
										</tr>
										<tr th:unless="${not #lists.isEmpty(shopPaymentCheck)}">
											<td>
											안녕
											</td>
										</tr>
										</tbody>
									</table>
								</p>
												
												
							</div>
						</div>
					</div>
					<!-- /.row -->
				</div>
				<!-- /.container-fluid -->
			</div>
	    	<!-- /.content -->
		</div>
	</div>
<!-- /.content-wrapper -->
</th:block>
</html>