<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/default-shop}">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<head th:replace="fragments/head :: headFragment"></head>

<th:block layout:fragment="customContents">
	<!-- Content Wrapper. Contains page content -->
	<div class="content-wrapper">
		<!-- Content Header (Page header) -->
		<div class="content-header">
			<div class="container-fluid">
				<div class="row mb-2">
					<div class="col-sm-6">
						<h1 class="m-0">사업장 등록</h1>
					</div>
					<!-- /.col -->
					<div class="col-sm-6">
						<ol class="breadcrumb float-sm-right">
							<li class="breadcrumb-item"><a href="/shop/index-shop">Home</a></li>
							<li class="breadcrumb-item active">사업장 관리</li>
						</ol>
					</div>
					<!-- /.col -->
				</div>
				<!-- /.row -->
			</div>
			<!-- /.container-fluid -->
		</div>
		<!-- /.content-header -->

		<!-- Main content -->
		<div class="content">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<div class="card card-success">
							<div class="card-header">
								<h5 class="card-title"> 사업장 등록</h5>
							</div>
							
							<!--  사업장 등록 폼바디 시작 -->
							<form id="addClientForm" th:action="@{/shop/businessRegistration/addBusinessRegistration}" method="post" class="form-horizontal"> 
								<div class="card-body" >
								<div class="form-group row">
									<label class="col-sm-2 col-form-laebl text-right">사업장 아이디</label>
									<div class="col-sm-4">
										<input class="form-control" type="text" id="clientId" name="clientId" placeholder="아이디를 입력하세요" login="nomal">
									</div>
									<div>
										<button type="button" id="idCheckBtn" class="btn btn-success">중복확인</button>
									</div>
								</div>
								
								<div class="form-group row">
									<label class="col-sm-2 col-form-laebl text-right">지역 코드</label>
									<div class="col-sm-2">
										<select id="localCode" class="form-control" name="localCode">
											<option value="">::지역 코드 선택::</option>
											<option value="sw_local_code_02">서울</option>
											<option value="sw_local_code_031">경기도</option>
											<option value="sw_local_code_042">세종</option>
											<option value="sw_local_code_044">대전</option>
											<option value="sw_local_code_051">부산</option>
											<option value="sw_local_code_052">울산</option>
											<option value="sw_local_code_053">대구</option>
											<option value="sw_local_code_061">전남</option>
											<option value="sw_local_code_062">광주</option>
											<option value="sw_local_code_063">전북</option>
										</select>
									</div>
								
								</div>

								<div class="form-group row">
									<label class="col-sm-2 col-form-laebl text-right">사업장 이름</label>
									<div class="col-sm-4">
										<input class="form-control" type="text" id="businessName" name="businessName" placeholder="사업장 이름을 입력하세요">
									</div>
								</div>

								<div class="form-group row">
									<label class="col-sm-2 col-form-laebl text-right">사업장 대표</label>
									<div class="col-sm-4">
										<input class="form-control" type="text" id="businessRepresentativeName" name="businessRepresentativeName"placeholder="대표이름을 입력하세요">
									</div>
								</div>

								<div class="form-group row">
									<label class="col-sm-2 col-form-laebl text-right">사업장 번호</label>
									<div class="col-sm-4">
										<input class="form-control" type="text" id="businessNumber" name="businessNumber" placeholder="사업장 번호를 입력하세요">
									</div>
								</div>
								
								<div class="form-group row">
									<label class="col-sm-2 col-form-laebl text-right">사업장 전화번호</label>
									<div class="col-sm-4">
										<input class="form-control" type="text" id="businessPhone" name="businessPhone" placeholder="사업장  전화번호를 입력하세요">
									</div>
								</div>

								<div class="form-group row">
									<label class="col-sm-2 col-form-laebl text-right">사업장 주소</label>
									<div class="col-sm-4">
										<input class="form-control" type="text" id="businessAddr" name="businessAddr"placeholder="사업장 주소를 입력하세요" readonly="readonly">
									</div>
								</div>
								<div class="form-group row">
										<label class="col-sm-2 col-form-label text-right"></label>
										<div class="col-sm-8">
											<input type="text" id="sample4_postcode" placeholder="우편번호" name="postAddr1">
											<input type="button" onclick="sample4_execDaumPostcode()" value="우편번호 찾기"><br>
											<input type="text" id="sample4_roadAddress" placeholder="도로명주소" name="postAddr2">
											<input type="text" id="sample4_jibunAddress" placeholder="지번주소" style="display: none">
											<span id="guide" style="color:#999;display:none"></span>
											<input type="text" id="sample4_detailAddress" placeholder="상세주소" name="postAddr3"  onchange="changeAddr()">
											<input type="text" id="sample4_extraAddress" placeholder="참고항목" style="display: none">
										</div>
									</div>

								<div class="form-group row">
									<label class="col-sm-2 col-form-laebl text-right">사업장 이메일</label>
									<div class="col-sm-4">
										<input type="email" class="form-control" id="businessEmail" name="businessEmail"placeholder="사업장 이메일을 입력하세요">
									</div>
								</div>
								
								<div class="form-group row">
									<label class="col-sm-2 col-form-laebl text-right">사업장 담당자 이름</label>
									<div class="col-sm-4">
										<input class="form-control" type="text" id="businessManagerName" name="businessManagerName"placeholder="사업장  담당자 이름 입력하세요">
									</div>
								</div>
								
								<div class="form-group row">
									<label class="col-sm-2 col-form-laebl text-right">사업장 담당자 번호</label>
									<div class="col-sm-4">
										<input class="form-control" type="text" id="businessManagerPhone" name="businessManagerPhone"placeholder="사업장 담당자 번호를 입력하세요">
									</div>
								</div>
								
								<div class="form-group row">
									<label class="col-sm-2 col-form-laebl text-right">사업장 담당자 이메일</label>
									<div class="col-sm-4">
										<input class="form-control" type="email" id="businessManagerEmail" name="businessManagerEmail"placeholder="사업장 담당자 이메일을 입력하세요">
									</div>
								</div>
								<div class="form-group row">
									<label class="col-sm-2 col-form-laebl text-right">주거래 통장</label>
									<div class="col-sm-2">
										<select id="AccountTrade" class="form-control" name="businessMainAccount">
											<option value="">::주거래 은행 선택::</option>
											<option value="기업">기업은행</option>
											<option value="농협">농협은행</option>
											<option value="신현">신협은행</option>
											<option value="전북">전북은행</option>
											<option value="새마을금고">새마을금고</option>
										</select>
									</div>
								</div>
								<div class="form-group row">
									<label class="col-sm-2 col-form-laebl text-right">계좌번호</label>
									<div class="col-sm-4">
										<input class="form-control" type="text" id="businessAccountNumber" name="businessAccountNumber"placeholder="계좌번호를 입력하세요">
									</div>
								</div>
								<div class="form-group row">
									<label class="col-sm-2 col-form-laebl text-right">예금주</label>
									<div class="col-sm-4">
										<input class="form-control" type="text" id="businessAccountHolder" name="businessAccountHolder" placeholder="예금주를 입력하세요">
									</div>
								</div>
								<div class="card-footer">
									<button type="button" class="btn btn-success" id="addBusinessRegistrationBtn"> 등록 </button>
									<button type="button" class="btn btn-default float-right" id="cancleBusinessRegistrationBtn" onclick="cancle()"> 취소 </button>
								</div>
								</div>
							</form> 
							</div>
						</div>
					</div>
				</div>
				<!-- /.row -->
			</div>
			<!-- /.container-fluid -->
		</div>
		<!-- /.content -->
	<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
		<th:block layout:fragment="customJs">
	<script type="text/javascript">	
	$('#idCheckBtn').click(function(){
		var clientId = $('#clientId').val();
		
		//유성 ajax 중복확인 
		var request = $.ajax({
			  url: "/shop/businessRegistration/idCheck",
			  method: "POST",
			  data: { clientId : clientId },
			  dataType: "text"
			});
		request.done(function(data) {
			if(clientId != null && clientId != ""){
				if(data == "true"){
					alert('사업장 등록 불가능');
					$('#addClientForm input').not('#clientId').prop('disabled', true);
					$('#addClientForm button').not('#idCheckBtn').prop('disabled', true);
					
				}else{
					alert('사업장 등록 가능');
					$('#addClientForm input').not('#clientId').prop('disabled', false);
					$('#addClientForm button').not('#idCheckBtn').prop('disabled', false);
					$('#clientId').attr('login','pass');
					
				}
			}else{
				alert('공백은 사용하실수 없습니다.');
			}
		});
	});
	//사업장 등록 취소
	function cancle(){
		var cancleBusinessRegistrationBtn = confirm('사업장 등록을 취소하시겠습니까?');
		if(cancleBusinessRegistrationBtn){
			location.href = "/shop/index-shop";
		}
	}
	
	 $(document).ready(function() {
		    $("#businessPhone").focus(focused2); //input에 focus일 때
		    $("#businessPhone").blur(blured2);   //focus out일 때
		  })
		function focused2(){
		  var input = $("#businessPhone").val();
		  //input안에서 하이픈(-) 제거
		  var businessPhone = input.replace( /-/gi, '');
		  //number 타입으로 변경(숫자만 입력)
		  $("#businessPhone").prop('type', 'number');
		  $("#businessPhone").val(businessPhone);
		}
		function blured2(){
		  var input = $("#businessPhone").val();
		  //숫자에 하이픈(-) 추가
		  var businessPhone = chkItemPhone(input);
		  //text 타입으로 변경
		  $("#businessPhone").prop('type', 'text');
		  
		  $("#businessPhone").val(businessPhone);
		}
		//전화번호 문자(-)
		function chkItemPhone(temp) {
		  var number = temp.replace(/[^0-9]/g, "");
		  var businessPhone = "";
		  if (number.length < 9) {
		    return number;
		  } else if (number.length < 10) {
			  businessPhone += number.substr(0, 2);
			  businessPhone += "-";
			  businessPhone += number.substr(2, 3);
			  businessPhone += "-";
			  businessPhone += number.substr(5);
		  } else if (number.length < 11) {
			  businessPhone += number.substr(0, 3);
			  businessPhone += "-";
			  businessPhone += number.substr(3, 3);
			  businessPhone += "-";
			  businessPhone += number.substr(6);
		  } else if (number.length < 12){
			  businessPhone += number.substr(0, 3);
			  businessPhone += "-";
		    businessPhone += number.substr(3, 4);
		    businessPhone += "-";
		    businessPhone += number.substr(7);
		  } else {
			  alert('전화번호를 확인하세요');
			  return businessPhone;
		  }
		  return businessPhone;
		}
	
	// 사업장 담당자번호 문자
	$(document).ready(function() {
	    $("#businessManagerPhone").focus(focused); //input에 focus일 때
	    $("#businessManagerPhone").blur(blured);   //focus out일 때
	  })
	function focused(){
	  var input = $("#businessManagerPhone").val();
	  //input안에서 하이픈(-) 제거
	  var businessManagerPhone = input.replace( /-/gi, '');
	  //number 타입으로 변경(숫자만 입력)
	  $("#businessManagerPhone").prop('type', 'number');
	  
	  $("#businessManagerPhone").val(businessManagerPhone);
	}
	function blured(){
	  var input = $("#businessManagerPhone").val();
	  
	  //숫자에 하이픈(-) 추가
	  var businessManagerPhone = chkPhone(input);
	  //text 타입으로 변경
	  $("#businessManagerPhone").prop('type', 'text');
	  
	  $("#businessManagerPhone").val(businessManagerPhone);
	}
	
	//사업장 담당자번호 문자(-)
	function chkPhone(temp) {
	  var number = temp.replace(/[^0-9]/g, "");
	  var businessManagerPhone = "";
	  if (number.length < 9) {
	    return number;
	  } else if (number.length < 10) {
		  businessManagerPhone += number.substr(0, 2);
		  businessManagerPhone += "-";
		  businessManagerPhone += number.substr(2, 3);
		  businessManagerPhone += "-";
		  businessManagerPhone += number.substr(5);
	  } else if (number.length < 11) {
		  businessManagerPhone += number.substr(0, 3);
		  businessManagerPhone += "-";
		  businessManagerPhone += number.substr(3, 3);
		  businessManagerPhone += "-";
		  businessManagerPhone += number.substr(6);
	  } else if(number.length < 12){
		  businessManagerPhone += number.substr(0, 3);
		  businessManagerPhone += "-";
		  businessManagerPhone += number.substr(3, 4);
		  businessManagerPhone += "-";
		  businessManagerPhone += number.substr(7);
	  }else {
		  alert('사업장 담당자 전화번호를 확인하세요');
		  return businessManagerPhone;
	  }
	  return businessManagerPhone;
	}	

	
	//도로명주소
	//본 예제에서는 도로명 주소 표기 방식에 대한 법령에 따라, 내려오는 데이터를 조합하여 올바른 주소를 구성하는 방법을 설명합니다.
    function sample4_execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function(data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 도로명 주소의 노출 규칙에 따라 주소를 표시한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var roadAddr = data.roadAddress; // 도로명 주소 변수
                var extraRoadAddr = ''; // 참고 항목 변수

                // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                    extraRoadAddr += data.bname;
                }
                // 건물명이 있고, 공동주택일 경우 추가한다.
                if(data.buildingName !== '' && data.apartment === 'Y'){
                   extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                }
                // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                if(extraRoadAddr !== ''){
                    extraRoadAddr = ' (' + extraRoadAddr + ')';
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('sample4_postcode').value = data.zonecode;
                document.getElementById("sample4_roadAddress").value = roadAddr;
                document.getElementById("sample4_jibunAddress").value = data.jibunAddress;
                
                // 참고항목 문자열이 있을 경우 해당 필드에 넣는다.
                if(roadAddr !== ''){
                    document.getElementById("sample4_extraAddress").value = extraRoadAddr;
                } else {
                    document.getElementById("sample4_extraAddress").value = '';
                }

                var guideTextBox = document.getElementById("guide");
                // 사용자가 '선택 안함'을 클릭한 경우, 예상 주소라는 표시를 해준다.
                if(data.autoRoadAddress) {
                    var expRoadAddr = data.autoRoadAddress + extraRoadAddr;
                    guideTextBox.innerHTML = '(예상 도로명 주소 : ' + expRoadAddr + ')';
                    guideTextBox.style.display = 'block';

                } else if(data.autoJibunAddress) {
                    var expJibunAddr = data.autoJibunAddress;
                    guideTextBox.innerHTML = '(예상 지번 주소 : ' + expJibunAddr + ')';
                    guideTextBox.style.display = 'block';
                } else {
                    guideTextBox.innerHTML = '';
                    guideTextBox.style.display = 'none';
                }
            }
        }).open();
    }
	//사업자번호 
	function licenseNum(str){
          str = str.replace(/[^0-9]/g, '');
          var tmp = '';
          if(str.length < 4){
              return str;
          }else if(str.length < 7){
              tmp += str.substr(0, 3);
              tmp += '-';
              tmp += str.substr(3);
              return tmp;
          }else if(str.length < 12 ){             
              tmp += str.substr(0, 3);
              tmp += '-';
              tmp += str.substr(1, 2);
              tmp += '-';
              tmp += str.substr(5);
              return tmp;
          }else{
        	  return tmp;
          }
          return str;
      }
 
var businessNumber = document.getElementById("businessNumber");
businessNumber.onkeyup = function(event){
       event = event || window.event;
       var _val = this.value.trim();
       this.value = licenseNum(_val) ;
}

  //주소 입력
	function changeAddr(){
		var businessAddr = $('#businessAddr').val();
		var postAddr1 = $('#sample4_postcode').val();
		var postAddr2 = $('#sample4_roadAddress').val();
		var postAddr3 = $('#sample4_detailAddress').val();
		$('#businessAddr').val(postAddr1 +" "+ postAddr2 +" "+ postAddr3);
	}
  
	$(function(){
		$('#clientId').change(function(){
			$('#clientId').attr('login','nomal');
		});
	});
	
	$(function(){
		//[유성]아이디 중복체크
		$('#addBusinessRegistrationBtn').click(function(){
			
			
			var clientId = $('#clientId').attr('login');
			if(clientId != "pass"){
				alert("아이디 중복체크를 해주세요");
				return false;
			}
			
			//사업장 지역코드 공백 체크
			var localCode = $('#localCode').val();
			if(localCode == "::지역 코드 선택::" || localCode == ""){
				alert("사업장 지역코드를 선택하세요");
				return false;
			}
	
			//사업장 이름 공백 체크
			var businessName = $('#businessName').val();
			if(businessName == null || businessName == ""){
				alert("사업장 이름을 입력하세요.");
				return false;
			}
			
			//사업장 대표이름 공백 체크
			var businessRepresentativeName = $('#businessRepresentativeName').val();
			if(businessRepresentativeName == null || businessRepresentativeName == ""){
				alert("사업장 대표 이름을 입력하세요");
				return false;
			}
			
			//사업장 번호 공백 체크
			var businessNumber = $('#businessNumber').val();
			if(businessNumber == null || businessNumber == ""){
				alert("사업장 번호를 입력하세요");
				return false;
			}
			
			
			//사업장 전화번호 공백 체크
			var businessPhone = $('#businessPhone').val();
			if(businessPhone == null || businessPhone == ""){
				alert("사업장 전화번호를 입력하세요");
				return false;
			}
			
			
			
			
			//주소 공백 체크
			var sample4_detailAddress = $('#sample4_detailAddress').val();
			var sample4_postcode = $('#sample4_postcode').val();
			if(sample4_detailAddress == ""){
				alert("사업장 주소를 입력하세요");
				return false;
			}
			if(sample4_postcode == ""){
				alert("사업장 주소를 입력하세요");
				return false;
			}
			
			//사업장 이메일 공백 체크
			var businessEmail = $('#businessEmail').val();
			if(businessEmail == null || businessEmail == ""){
				alert("사업장 이메일을 입력하세요");
				return false;
			}
			
			//사업장 담당자 이름 공백 체크
			var businessManagerName = $('#businessManagerName').val();
			if(businessManagerName == null || businessManagerName == ""){
				alert("사업장 담당자 이름을 입력하세요");
				return false;
			}
			
			//사업장 담당자 번호 공백 체크
			var businessManagerPhone = $('#businessManagerPhone').val();
			if(businessManagerPhone == null || businessManagerPhone == ""){
				alert("사업장 담당자 번호를 입력하세요");
				return false;
			}
			
			//사업장 담당자 이메일 공백 체크
			var businessManagerEmail = $('#businessManagerEmail').val();
			if(businessManagerEmail == null || businessManagerEmail == ""){
				alert("사업장 담당자 이메일을 입력하세요");
				return false;
			}
			
			//주거래 통장 공백 체크
			var businessMainAccount = $('#businessMainAccount').val();
			if(businessMainAccount == "::주거래 은행 선택::" || businessMainAccount == ""){
				alert("주거래 은행을 선택하세요");
				return false;
			}
			
			//사업장 계좌번호 공백 체크
			var businessAccountNumber = $('#businessAccountNumber').val();
			if(businessAccountNumber == null || businessAccountNumber == ""){
				alert("계좌번호를 입력하세요");
				return false;
			}
			
			//사업장 예금주 공백 체크
			var businessAccountHolder = $('#businessAccountHolder').val();
			if(businessAccountHolder == null || businessAccountHolder == ""){
				alert("예금주를 입력하세요");
				return false;
			}
			
			//submit
			$('#addClientForm').submit();
		});
	});
	

	</script>
	</th:block>
	
</th:block>
</html>