<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
layout:decorate="@{layout/default-shop}">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<th:block layout:fragment="customContents">
<!-- Content Wrapper. Contains page content -->
	<div class="content-wrapper">
		<!-- Content Header (Page header) -->
			<div class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-6">
							<h1 class="m-0">"addShipment / 쇼핑몰 배송등록"</h1>
						</div><!-- /.col -->
						<div class="col-sm-6">
							<ol class="breadcrumb float-sm-right">
								<li class="breadcrumb-item"><a href="/shop/index-shop">Home</a></li>
								<li class="breadcrumb-item active">배송 관리</li>
							</ol>
						</div><!-- /.col -->
					</div><!-- /.row -->
				</div><!-- /.container-fluid -->
			</div>
			<!-- /.content-header -->
			
			<!-- Main content addShipment -->
			<section class="content">
			<div class="container-fluid">
				<div class="row">
					<!-- left column -->
					<div class="col-md-12">
						<!-- /.card-header -->
						<!-- Horizontal Form -->
						<div class="card card-success">
							<div class="card-header">
								<h3 class="card-title">안쓸듯</h3>
							</div>
							<!-- /.card-header -->
							<!-- form start -->
							<form class="form-horizontal">
								<div class="card-body">
									<div class="form-group row">
										<label for="inputEmail3" class="col-sm-2 col-form-label">배송코드</label>
										<div class="col-sm-4">
											<input type="email" class="form-control" id="inputEmail3"
												placeholder="shipment00">
										</div>
									</div>
									<div class="form-group row">
										<label for="inputEmail3" class="col-sm-2 col-form-label">배송단계이름</label>
										<div class="col-sm-4">
											<input type="email" class="form-control" id="inputEmail3"
												placeholder="배송구분을 입력해주세요">
										</div>
									</div>
								</div>
								<!-- /.card-body -->
								<div class="card-footer">
									<button type="submit" class="btn btn-success">전송</button>
									<button type="submit" class="btn btn-default float-right" th:href="@{shop/shipment/addShipment}">취소</button>
								</div>
								<!-- /.card-footer -->
							</form>
						</div>
						<!-- /.card -->
					</div>
					<!--/.col (left) -->
				</div>
				<!-- /.row -->
			</div>
			<!-- /.container-fluid -->
		</section>
		<!-- /.content -->
	</div>
<!-- Content Wrapper. Contains page content -->


</th:block>
</html>