<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
layout:decorate="@{layout/default-shop}">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<th:block layout:fragment="customContents">
<!-- Content Wrapper. Contains page content -->
	<div class="content-wrapper">
	<!-- Content Header (Page header) -->
		<div class="content-header">
			<div class="container-fluid">
				<div class="row mb-2">
					<div class="col-sm-6">
						<h1 class="m-0" th:text="${title}"></h1>
					</div><!-- /.col -->
					<div class="col-sm-6">
						<ol class="breadcrumb float-sm-right">
							<li class="breadcrumb-item"><a th:href="@{/shop/index-shop}">Home</a></li>
							<li class="breadcrumb-item active">회원관리</li>
						</ol>
					</div><!-- /.col -->
				</div><!-- /.row -->
			</div><!-- /.container-fluid -->
		</div>
	<!-- /.content-header -->
	
	<!-- Main content -->
		<div class="content">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<div class="card card-primary">
							<div class="card-header">
								<h5 class="card-title" th:text="${title}"></h5>
							</div>
							<form id="addConsumerForm" th:action="@{/shop/consumer/addConsumer}" method="post" class="form-horizontal">
								<div class="card-body">
									<div class="form-group row">
										<label class="col-sm-2 col-form-label text-right">아이디 : </label>
										<div class="col-sm-8">
											<input type="text" class="form-control" id="shopConsumerId" placeholder="아이디를 입력하세요" name="shopConsumerId">
										</div>
										<div>
											<button type="button" id="idCheckBtn" class="btn btn-primary">중복확인</button>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
					<!-- /.row -->
				</div>
				<!-- /.container-fluid -->
			</div>
	    	<!-- /.content -->
		</div>
	</div>
<!-- /.content-wrapper -->
</th:block>
</html>