body {
	margin: 0;
	padding: 0;
}

/* main-index */
.content {
    width : 100%;
    height: 100%;
    position: absolute;
    margin : 0;
    padding: 0;
}

.2team-main{
	border-radius: 30px;
}


.team-info{
	margin : 0 auto;
	display: flex;
	width: 80%;	
}
.project-info {
	width: 50%;
	background-color: #E0F8E6;
}
.team-member{
	display:flex;
	width: 50%;
	background-color: #EAEAEA;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	align-content: space-around;
	
}
.member-info{
	width: 80%;
 }



.card-footer{
	margin : 0 auto;
	display: flex;
	width: 80%;	
}

.move-sw {
	width: 50%;
    height: 100px;
    background-color: #343A40;
    color: white;
}
.move-shop {
    width: 50%;
    height: 100px;
    background-color: #CFE2CE;
} 