@charset "UTF-8";

.img-size-25{
	height: 25px;
	line-height: 25px;
	width: 25px;
}

.img-size-50{
	height: 50px;
	line-height: 50px;
	width: 50px;
}

.image-box {
	width: 100px;
    height:100px;
    overflow:hidden;
    margin:0 auto;
}

.image-thumbnail {
    width:100%;
    height:100%;
    object-fit:cover;
}

/* 하위메뉴 폰트 사이즈 변경 */
.nav-treeview p{
	font-size : 13px;
}
/*하위메뉴 아이콘 사이즈 변경*/
.nav-treeview .fa-circle:before{
   font-size : 13px;
}
/*쇼핑몰 사이드바 색 변경*/
.sidebar-light-success{
   background-color: #CFE2CE;
}
/*쇼핑몰 사이드바 상위메뉴 폰트 색 변경*/
.sidebar-light-success .nav-item .nav-link{
	color : #121212;
}
/*쇼핑몰 사이드바 하위메뉴 폰트 색 변경*/
.sidebar-light-success .nav-treeview p{
	color : #575757;
}
/*개발사 손익 계정조회 폰트 사이즈 조절*/
.card-body .swiscodelist{
	font-size : 85%
}

/* 로그인 페이지 크기조절 */
.login-box{
	width: 360px;
	margin: 0 auto;
	margin-top:150px;
	line-height: 1.5;
    color: #212529;
    text-align: left;
}

