<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ksmart41_teamtest.mapper.ClientMapper">
	<resultMap type="Client" id="clientResultMap">
		<result column="clientId" 				property="clientId"></result>
		<result column="businessLevelCode" 		property="businessLevelCode"></result>
		<result column="clientPw"				property="clientPw"></result>
		<result column="clientName" 			property="clientName"></result>
		<result column="clientEmail"			property="clientEmail"></result>
		<result column="clientRegistration"		property="clientRegistration"></result>
		<result column="clientPhone"			property="clientPhone"></result>
		<result column="clientStatus"			property="clientStatus"></result>
		<result column="clientWithdrawal"		property="clientWithdrawal"></result>
		<result column="clientWithdrawalReason"	property="clientWithdrawalReason"></result>
	</resultMap>

	<insert id="addClient" parameterType="Client">
	INSERT INTO k2_sw_client(
		clientId,
		businessLevelCode,
		clientPw,
		clientName,
		clientEmail,
		clientRegistration,
		clientPhone,
		clientStatus,
		clientWithdrawal,
		clientWithdrawalReason
	)VALUES (
		#{clientId},
		#{businessLevelCode},
		#{clientPw},
		#{clientName},
		#{clientEmail},
		#{clientRegistration},
		#{clientPhone},
		#{clientStatus},
		#{clientWithdrawal},
		#{clientWithdrawalReason}
	)
	</insert>
	
	<select id="selectClientList" resultType="Client">
		SELECT
			clientId,
			businessLevelCode,
			clientPw,
			clientName,
			clientEmail,
			clientRegistration,
			clientPhone,
			clientStatus,
			clientWithdrawal,
			clientWithdrawalReason
		FROM
			k2_sw_client
	</select>
	
	<select id="ClientInfo" parameterType="String" resultMap="clientResultMap">
		SELECT
			clientId,
			businessLevelCode,
			clientPw,
			clientName,
			clientEmail,
			clientRegistration,
			clientPhone,
			clientStatus,
			clientWithdrawal,
			clientWithdrawalReason
		FROM
			k2_sw_client
		WHERE
			clientId = #{clientId}
	</select>
</mapper>