<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ksmart41_teamtest.mapper.MemberMapper">
	<resultMap type="Member" id="memberResultMap">
		<result column="memberId" 					property="memberId"/>
		<result column="memberLevelCode" 			property="memberLevelCode"/>
		<result column="memberPw" 					property="memberPw"/>
		<result column="memberName" 				property="memberName"/>
		<result column="memberAddr" 				property="memberAddr"/>
		<result column="memberEmail" 				property="memberEmail"/>
		<result column="memberPhone" 				property="memberPhone"/>
		<result column="memberRegDate" 				property="memberRegDate"/>
		<result column="memberStatus" 				property="memberStatus"/>
		<result column="memberWithdrawal" 			property="memberWithdrawal"/>
		<result column="memberWithdrawalReason" 	property="memberWithdrawalReason"/>
	</resultMap>
	
	<insert id="addMember" parameterType="Member">
		INSERT INTO k2_sw_member(
			memberId,
			memberLevelCode,
			memberPw,
			memberName,
			memberAddr,
			memberEmail,
			memberPhone,
			memberRegDate,
			memberStatus,
			memberWithdrawal,
			memberWithdrawalReason
		)VALUES(
			#{memberId},
			#{memberLevelCode},
			#{memberPw},
			#{memberName},
			#{memberAddr},
			#{memberEmail},
			#{memberPhone},
			NOW(),
			#{memberStatus},
			#{memberWithdrawal},
			#{memberWithdrawalReason}
		)
	</insert>
	
	<select id="selectMemberList" resultType="Member">
		SELECT
			memberId,
			memberLevelCode,
			memberName,
			memberAddr,
			memberEmail,
			memberPhone,
			memberRegDate,
			memberStatus,
			memberWithdrawal,
			memberWithdrawalReason
		FROM
			k2_sw_member
	</select>
	
	<select id="MemberInfo" parameterType="String" resultMap="memberResultMap">
		SELECT
			memberId,
			memberPw,
			memberLevelCode,
			memberName,
			memberAddr,
			memberEmail,
			memberPhone,
			memberRegDate,
			memberStatus,
			memberWithdrawal,
			memberWithdrawalReason
		FROM
			k2_sw_member
		WHERE
			memberId = #{memberId}
	</select>
	
	<delete id="deleteMember" parameterType="Member">
		DELETE
		FROM
			k2_sw_member
		WHERE
			memberId = #{memberId}
	</delete>
	
	<update id="modifyMember" parameterType="Member">
		UPDATE 
			k2_sw_member
		SET
			memberPw = #{memberPw},
			memberAddr = #{memberAddr},
			memberEmail = #{memberEmail},
			memberPhone = #{memberPhone}
		WHERE
			memberId = #{memberId}
	</update>
	
	<select id="idCheck" resultType="int">
		SELECT
			COUNT(1)
		FROM
			k2_sw_member
		WHERE
			memberId = #{memberId}
	</select>
 
</mapper>