<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ksmart41_teamtest.mapper.MemberMapper">
	<insert id="addMember" parameterType="Member">
		INSERT INTO k2_sw_member(
			memberId,
			memberLevelCode,
			memberPw,
			memberName,
			memberAddr,
			memberEmail,
			memberPhone,
			memberRegDate,
			memberStatus,
			memberWithdrawal,
			memberWithdrawalReason
		)VALUES(
			#{memberId},
			#{memberLevelCode},
			#{memberPw},
			#{memberName},
			#{memberAddr},
			#{memberEmail},
			#{memberPhone},
			#{memberRegDate},
			#{memberStatus},
			#{memberWithdrawal},
			#{memberWithdrawalReason}
		)
	</insert>
	
	<select id="selectMemberList" resultType="Member">
		SELECT
			memberId,
			memberLevelCode,
			memberName,
			memberAddr,
			memberEmail,
			memberPhone,
			memberRegDate,
			memberStatus,
			memberWithdrawal,
			memberWithdrawalReason
		FROM
			k2_sw_member;
	</select>
 
</mapper>