<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ksmart41_teamtest.mapper.ShopBusinessInfoMapper">

	<select id="ShopBusinessList" resultType="ShopBusinessInfo">
		SELECT
			shopClientCode,
			mainBusinessCode,
			shopClientBusinessName,
			shopClientBusinessPhone,
			shopClientBusinessStaff,
			shopClientBizLeaderName,
			shopClientBusinessNumber,
			shopClientBusinessAddr,
			shopClientBusinessType1,
			shopClientBusinessType2,
			shopClientBusinessRegDate
		FROM
			k2_shop_businessInfo
	</select>
</mapper>