<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ksmart41_teamtest.mapper.SwExpenseMapper">
	<select id="selectSwExpenseList" resultType="SwExpense">
		SELECT
			swExpensePayCode,
			swIsCode,
			memberIdFinish,
			memberId,
			swSlipNumber,
			swGroupSlip,
			swIsName,
			swExpenseInfo,
			swExpensePrice,
			swExpenseRegDate,
			swExpenseFinish,
			swExpenseFinishDate
		FROM
			k2_sw_expense_pay
	</select>
</mapper>