<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="@{layout/default-shop}">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<head th:replace="fragments/head :: headFragment"></head>

<th:block layout:fragment="customContents">
	<!-- 전체컨텐츠 -->
	<div class="content-wrapper">
		<!-- 컨텐츠 헤더 -->
		<div class="content-header">
			<div class="container-fluid">
				<div class="row md-2">
					<div class="col-sm-6">
						<h1 class="m-0" th:text="${title}"></h1>
					</div>
					<div class="col-sm-6">
						<ol class="breadcrumb float-sm-right">
							<li class="breadcrumb-item"><a href="#">Home</a></li>
							<li class="breadcrumb-item active">Starter Page</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
		<!-- 컨텐츠 헤더 끝 -->

		<!-- 메인컨텐츠 -->
		<div class="content">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<!-- 회원가입폼 -->
						<div class="card card-primary">
							<div class="card-header">
								<h5 class="card-title" th:text="${title}"></h5>
							</div>
							<div class="card-body">
								<table class="table table-hover table-coondensed">
									<thead>
										<tr>
											<th>아이디</th>
											<th>사업장 권한</th>
											<th>이름</th>
											<th>이메일</th>
											<th>가입일</th>
											<th>전화번호</th>
											<th>회원상태</th>
											<th>탈퇴날짜</th>
											<th>탈퇴이유</th>
										</tr>
									</thead>
										<tr th:if="${not #lists.isEmpty(clientList)}" th:each="cl : ${clientList}">
											<td th:text="${cl.clientId}"></td>
											<td th:text="${cl.businessLevelCode}"></td>
											<td th:text="${cl.clientName}"></td>
											<td th:text="${cl.clientEmail}"></td>
											<td th:text="${cl.clientRegistration}"></td>
											<td th:text="${cl.clientPhone}"></td>
											<td th:text="${cl.clientStatus}"></td>
											<td th:text="${cl.clientWithdrawal}"></td>
											<td th:text="${cl.clientWithdrawalReason}"></td>
										</tr>
										<tr th:unless="${not #lists.isEmpty(clientList)}">
											<td><h1>불러올 데이터가 없습니다.</h1></td>
										</tr>
								</table>
							</div>
								<!-- <div class="card-footer">
								
								</div> -->
							
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</div>
</th:block>
</html>