<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="fragments/head :: headFragment">

</head>
<body>
   <div id="wrapper">
   <!-- begin Contents -->
      <div id="rightcolumn">
         <th:block layout:fragment="customContents">.</th:block>
      </div>
   <!-- end Contents -->
      
   <!-- begin javascript -->
      <div th:replace="fragments/javascript :: javascriptFragment"></div>
   <!-- end javascript -->
   </div>
</body>
</html>