<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="@{layout/default-sw}">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<head th:replace="fragments/head :: headFragment"></head>

<th:block layout:fragment="customContents">
	<!-- 전체컨텐츠 -->
	<div class="content-wrapper">
		<!-- 컨텐츠 헤더 -->
		<div class="content-header">
			<div class="container-fluid">
				<div class="row md-2">
					<div class="col-sm-6">
						<h1 class="m-0" th:text="${title}"></h1>
					</div>
					<div class="col-sm-6">
						<ol class="breadcrumb float-sm-right">
							<li class="breadcrumb-item"><a th:href="@{/sw/index-sw}">Home</a></li>
							<li class="breadcrumb-item active">회원관리</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
		<!-- 컨텐츠 헤더 끝 -->

<section class="content">
	<div class="container-fluid" >
		<div class="row  d-flex justify-content-center align-items-center h-100">
			<div class="col-md-8" style="display: center">
           <!-- Profile Image -->
				<div class="card card-primary card-outline col-md-12">
					<form id="myPageForm" th:action="@{/sw/member/modifyMyPage}" method="post" class="form-horizontal"> 
						<div class="card-body box-profile">
							<div class="text-center">
								<img src="/customcss/img/profile.png" alt="User profile picture" style="height : 180px;">
							</div>
							<h3 class="profile-username text-center" th:text="${session.SWNAME}"></h3>
							<p class="text-muted text-center">[[${session.SWLEVEL}]]</p>
							<ul class="list-group list-group-unbordered mb-3">
							
							
							
							
							
								<li class="list-group-item">
								
								
								<input type="file" id="fileInput"/>
								
								
								</li>
								
								
								
								
								
								
								
								<li class="list-group-item">
									<b>아이디</b><input type="text" class="float-right" id="memberId" name="memberId" th:value="${session.SWID}" readonly="readonly">
								</li>
							
								<li class="list-group-item">
									<b>이름</b><input type="text" class="float-right" id="memberName" name="memberName" th:value="${session.SWNAME}" readonly="readonly">
								</li>
							
								<li class="list-group-item">
									<b>가입일자</b><input type="text" class="float-right" id="memberRegDate" name="memberRegDate" th:value="${session.SWDATE}" readonly="readonly">
								</li>
							
								<li class="list-group-item">
									<b>주소</b>
											<input type="text" class="float-right" id="memberAddr" name="memberAddr" readonly="readonly">
								</li>
								<li style="list-style: none; margin-top: 11px; margin-bottom: 11px">
									<b>주소 검색</b>
											<input type="text" id="sample4_postcode" placeholder="우편번호" name="postAddr1" class="float-right">
											<input type="button" onclick="sample4_execDaumPostcode()" value="우편번호 찾기" class="float-right">
								</li>
								<li style="list-style: none; margin-bottom: 11px;">
											<input type="text" id="sample4_detailAddress" placeholder="상세주소" name="postAddr3"  onchange="changeAddr()" class="float-right">
											<input type="text" id="sample4_roadAddress" placeholder="도로명주소" name="postAddr2" class="float-right">
									<input type="text" id="sample4_jibunAddress" placeholder="지번주소" style="display: none">
									<span id="guide" style="color:#999;display:none"></span>
									<input type="text" id="sample4_extraAddress" placeholder="참고항목" style="display: none">
								</li>
								<li class="list-group-item">
									<b>연락처</b><input type="number" class="float-right" id="memberPhone" name="memberPhone">
								</li>
								<li class="list-group-item">
									<b>이메일</b><input type="email" class="float-right" id="memberEmail" name="memberEmail">
								</li>
							</ul>
						</div>
						<div class="card-footer">
							<button type="button" class="btn btn-primary" id ="modifyMyPageBtn">수정완료</button>
							<button type="button" class="btn btn-default float-right" id="cancleMemberBtn" th:onclick="cancel();">취소</button>
						</div>
					</form>
              <!-- /.card-body -->
				</div>
            <!-- /.card -->
			</div>
          <!-- /.col -->   
		</div>
        <!-- /.row -->
	</div>
      <!-- /.container-fluid -->
</section>
			
		<!-- 메인컨텐츠 -->
	</div>
	<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
	<script type="text/javascript">
		//[재천]도로명주소
		
		//본 예제에서는 도로명 주소 표기 방식에 대한 법령에 따라, 내려오는 데이터를 조합하여 올바른 주소를 구성하는 방법을 설명합니다.
		function sample4_execDaumPostcode() {
	        new daum.Postcode({
	            oncomplete: function(data) {
	                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.
	
	                // 도로명 주소의 노출 규칙에 따라 주소를 표시한다.
	                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
	                var roadAddr = data.roadAddress; // 도로명 주소 변수
	                var extraRoadAddr = ''; // 참고 항목 변수
	
	                // 법정동명이 있을 경우 추가한다. (법정리는 제외)
	                // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
	                if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
	                    extraRoadAddr += data.bname;
	                }
	                // 건물명이 있고, 공동주택일 경우 추가한다.
	                if(data.buildingName !== '' && data.apartment === 'Y'){
	                   extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
	                }
	                // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
	                if(extraRoadAddr !== ''){
	                    extraRoadAddr = ' (' + extraRoadAddr + ')';
	                }
	
	                // 우편번호와 주소 정보를 해당 필드에 넣는다.
	                document.getElementById('sample4_postcode').value = data.zonecode;
	                document.getElementById("sample4_roadAddress").value = roadAddr;
	                document.getElementById("sample4_jibunAddress").value = data.jibunAddress;
	                
	                // 참고항목 문자열이 있을 경우 해당 필드에 넣는다.
	                if(roadAddr !== ''){
	                    document.getElementById("sample4_extraAddress").value = extraRoadAddr;
	                } else {
	                    document.getElementById("sample4_extraAddress").value = '';
	                }
	
	                var guideTextBox = document.getElementById("guide");
	                // 사용자가 '선택 안함'을 클릭한 경우, 예상 주소라는 표시를 해준다.
	                if(data.autoRoadAddress) {
	                    var expRoadAddr = data.autoRoadAddress + extraRoadAddr;
	                    guideTextBox.innerHTML = '(예상 도로명 주소 : ' + expRoadAddr + ')';
	                    guideTextBox.style.display = 'block';
	
	                } else if(data.autoJibunAddress) {
	                    var expJibunAddr = data.autoJibunAddress;
	                    guideTextBox.innerHTML = '(예상 지번 주소 : ' + expJibunAddr + ')';
	                    guideTextBox.style.display = 'block';
	                } else {
	                    guideTextBox.innerHTML = '';
	                    guideTextBox.style.display = 'none';
	                }
	            }
	        }).open();
	    }
		
		//[재천]주소 입력
		function changeAddr(){
			var memberAddr = $('#memberAddr').val();
			var postAddr1 = $('#sample4_postcode').val();
			var postAddr2 = $('#sample4_roadAddress').val();
			var postAddr3 = $('#sample4_detailAddress').val();
			$('#memberAddr').val(postAddr1 +" "+ postAddr2 +" "+ postAddr3);
		}
		
		$(function(){
			$('#modifyMyPageBtn').click(function(){
				//주소 공백 체크
				var sample4_detailAddress = $('#sample4_detailAddress').val();
				var sample4_postcode = $('#sample4_postcode').val();
				if(sample4_detailAddress == ""){
					alert("주소를 입력하세요");
					return false;
				}
				if(sample4_postcode == ""){
					alert("주소를 입력하세요");
					return false;
				}
				
				//전화번호 공백체크
				var memberPhone = $('#memberPhone').val();
				if(memberPhone == null || memberPhone == ""){
					alert('전화번호를 입력하세요');
					return false;
				}
				
				//이메일 공백체크
				var memberEmail = $('#memberEmail').val();
				if(memberEmail == null || memberEmail == ""){
					alert('이메일을 입력하세요');
					return false;
				}
				alert('회원정보가 변경되었습니다. 다시 로그인해주세요')
				$('#myPageForm').submit();
				
				
			});
		});
		
		function cancel(){
			var cancelConfirm = confirm('회원수정을 취소하시겠습니까?');
			if (cancelConfirm){
				location.href = "/sw/index-sw";
			}		
		}
		


		
		
		
		//재천추가 이미지변경
		
		var fileInput = $('#fileInput');
		  //값이 변경될때 호출 되는 이벤트 리스너
		  fileInput.addEventListener('change',function(e){
		    var file = e.target.files[0]; //선택된 파일
		    var reader = new FileReader();
		    reader.readAsDataURL(file); //파일을 읽는 메서드 
		
		    reader.onload = function(){
		      var photoFrame = document.createElement("div");
		      photoFrame.style = `background : url(${reader.result}); background-size : cover`;
		      photoFrame.className = "photoFrame";
		      document.getElementById("pictures").appendChild(photoFrame);
		      e.target.value = "";
		
		      photoFrame.addEventListener("click",function(){
		        document.getElementById("pictures").removeChild(photoFrame);
		      })
		    }
		  })	</script>
</th:block>
</html>


