<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="@{layout/default-sw}">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<head th:replace="fragments/head :: headFragment"></head>

<th:block layout:fragment="customJs">
 
<script type="text/javascript">

</script>

</th:block>
<th:block layout:fragment="customContents">
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-10">
          <div class="col-sm-6">
            <h1>마이페이지</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
			<li class="breadcrumb-item"><a th:href="@{/sw/index-sw}">Home</a></li>
			<li class="breadcrumb-item active">회원관리</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid" >
        <div class="row  d-flex justify-content-center align-items-center h-100">
          <div class="col-md-8" style="display: center">
            <!-- Profile Image -->
            <div class="card card-primary card-outline col-md-12">
              <div class="card-body box-profile">

			<div class="text-center image-box" th:if="${session.SWPROFILE != null}">
				<img th:src="${session.SWPROFILE}" class="img-circle image-thumbnail" alt="User Image"> 
			</div>
			<div class="text-center image-box" th:if="${session.SWPROFILE == null}">
				<img src="/customcss/img/profile.png" class="img-circle image-thumbnail" alt="User Image"> 
			</div>	


	                <h3 class="profile-username text-center" th:text="${session.SWNAME}"></h3>
	                <p class="text-muted text-center">[[${session.SWLEVEL}]]</p>
	                
	                <ul class="list-group list-group-unbordered mb-3">
	                  <li class="list-group-item">
	                    <b>아이디</b> <a class="float-right" th:text="${session.SWID}" ></a>
	                  </li>
	                  
	                  <li class="list-group-item">
	                    <b>이름</b> <a class="float-right" th:text="${session.SWNAME}" ></a>
	                  </li>
	                  
	                  <li class="list-group-item">
	                    <b>가입일자</b> <a class="float-right" th:text="${session.SWDATE}"></a>
	                  </li>
	                  <li class="list-group-item">
	                    <b>주소</b> <a class="float-right" th:text="${session.SWADDR}"></a>
	                  </li>
	                  <li class="list-group-item">
	                    <b>연락처</b> <a class="float-right" >[[${session.SWPHONE}]]</a>
	                  </li>
	                  <li class="list-group-item">
	                    <b>이메일</b> <a class="float-right" th:text="${session.SWEMAIL}"></a>
	                  </li>
	                </ul>
	              </div>
	              <div class="card-footer">
		              <a th:href="@{/sw/member/modifyMyPage(memberId=${session.SWID})}">수정</a>
					<form name="secessionForm" id="secessionForm" method="post" th:action="@{/sw/member/secession}" style="font-size: 13px;">
						<input type="text" id="memberId" name="memberId" th:value="${session.SWID}" style="display: none">
						<button type="submit" class="btn btn-primary btn-xs" id="secessionBtn" th:onclick="secession();">탈퇴</button>
					</form>
	              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->   
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
	<script type="text/javascript">
	function secession(){
		var secessionConfirm = confirm('회원탈퇴를 진행하시겠습니까?');
		if (secessionConfirm){
			location.href = "/sw/member/secession";
		}		
	}
	</script>
</th:block>
</html>