<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="@{layout/default-sw}">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<th:block layout:fragment="customContents">
	<!-- 전체컨텐츠 -->
	<div class="content-wrapper">
		<!-- 컨텐츠 헤더 -->
		<div class="content-header">
			<div class="container-fluid">
				<div class="row md-2">
					<div class="col-sm-6">
						<h1 class="m-0">"memberList / 개발사 직원 조회"</h1>
					</div>
					<div class="col-sm-6">
						<ol class="breadcrumb float-sm-right">
							<li class="breadcrumb-item"><a href="#">Home</a></li>
							<li class="breadcrumb-item active">Starter Page</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
		<!-- 컨텐츠 헤더 끝 -->

		<!-- 메인컨텐츠 -->
		<div class="content">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<!-- 회원가입폼 -->
						<div class="card card-primary">
							<div class="card-header">
								<h3 class="card-title">개발사 내부회원 등록</h3>
							</div>
							<div class="card-body">
								<table class="table table-hover table-coondensed">
									<thead>
										<tr>
											<th>아이디</th>
											<th>권한</th>
											<th>이름</th>
											<th>주소</th>
											<th>이메일</th>
											<th>전화번호</th>
											<th>가입일</th>
											<th>회원상태</th>
											<th>탈퇴날짜</th>
											<th>탈퇴이유</th>
										</tr>
									</thead>
										<tr th:if="${not #lists.isEmpty(memberList)}" th:each="sm : ${memberList}">
											<td th:text="${sm.memberId}"></td>
											<td th:text="${sm.memberLevelCode}"></td>
											<td th:text="${sm.memberName}"></td>
											<td th:text="${sm.memberAddr}"></td>
											<td th:text="${sm.memberEmail}"></td>
											<td th:text="${sm.memberPhone}"></td>
											<td th:text="${sm.memberRegDate}"></td>
											<td th:text="${sm.memberStatus}"></td>
											<td th:text="${sm.memberWithdrawal}"></td>
											<td th:text="${sm.memberWithdrawalReason}"></td>
										</tr>
									<tr th:unless="${not #lists.isEmpty(memberList)}">
										<td><h1>불러올 데이터가 없습니다.</h1></td>
									</tr>
								</table>
							</div>
								<!-- <div class="card-footer">
								
								</div> -->
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</th:block>
</html>