<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="@{layout/default}">
<div th:replace="fragments/javascript :: javascriptFragment"></div>
<th:block layout:fragment="javascriptFragment"></th:block>
<th:block layout:fragment="customContents">
	<!-- 개발사 로그인 -->
	<div class="row">
		<div class="login-box col-3">
			<div class="login-logo">
				<a href="/"><b> K-SMART </b>ks404500</a>
			</div>
			<div class="card">
				<div class="card-body login-card-body">
					<p class="login-box-msg">개발사 로그인</p>
					<form th:action="@{/Swlogin}" method="post">
						<div class="input-group mb-3">
							<input type="text" class="form-control" placeholder="아이디를 입력하세요" name="memberId" value="swid001" id="memberId">
							<div class="input-group-append">
								<div class="input-group-text">
									<span class="fas fa-user"></span>
								</div>
							</div>
						</div>
						<div class="input-group mb-3">
							<input type="password" class="form-control" placeholder="비밀번호를 입력하세요" name="memberPw" value="swpw001">
							<div class="input-group-append">
								<div class="input-group-text">
									<span class="fas fa-lock"></span>
								</div>
							</div>
						</div>
						<p class="mb-0">
							<a th:href=@{/addMember} class="text-center" style="float: right; size: 8px;">회원가입</a>
						</p>
						<div class="row">
							<div class="mb-3">
								<button type="submit" class="btn btn-primary btn-block btn-sm">로그인</button>
							</div>
						</div>
					</form>

				</div>
			</div>
		</div>
		
		<!-- 쇼핑몰 로그인 -->
		<div class="login-box col-3">
			<div class="login-logo">
				<a href="/"><b> K-SMART </b>ks404500</a>
			</div>
			<div class="card">
				<div class="card-body login-card-body">
					<p class="login-box-msg">쇼핑몰 로그인</p>
					<form th:action="@{/Shoplogin}" method="post">
						<div class="input-group mb-3">
							<input type="text" class="form-control" placeholder="아이디를 입력하세요" name="shopMemberId" value="shopid001" id="shopMemberId">
							<div class="input-group-append">
								<div class="input-group-text">
									<span class="fas fa-user"></span>
								</div>
							</div>
						</div>
						<div class="input-group mb-3">
							<input type="password" class="form-control"	placeholder="비밀번호를 입력하세요" name="shopMemberPw" value="shoppw001">
							<div class="input-group-append">
								<div class="input-group-text">
									<span class="fas fa-lock"></span>
								</div>
							</div>
						</div>
						<p class="mb-0">
							<a th:href=@{/addClient} class="text-center" style="float: right; size: 8px;">회원가입</a>
						</p>
						<div class="row">
							<div class="mb-3">
								<button type="submit" class="btn btn-success btn-block btn-sm " id="loginBtn">로그인</button>
							</div>
						</div>
					</form>

				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		
	</script>
</th:block>
</html>


