<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="@{layout/default-shop}">
<th:block layout:fragment="customTitle">
<title th:text="${title}"></title>
</th:block>
<th:block layout:fragment="customJs">
<link rel="stylesheet" href="//cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css"/>
<link rel="stylesheet" th:href="@{/customcss/css/modal.css}">
<!-- 날짜계산 moment.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.0/moment.min.js"></script>
<!-- script -->
<script type="text/javascript">
	// calendar 서비스 시작 날짜 (default =  오늘날짜)
	$(document).ready(function(){
		var nowDate = moment();
		 $('#serviceRegistrationDate').val(nowDate.format("YYYY-MM-DD"));
		// 총 서비스 기간 조회		
			$('#totalBtn').click(function(){
				var serviceRegistrationDate = $('#serviceRegistrationDate').val();
				var serviceName = $('#serviceName').val();
				var serviceAmount = $('#serviceAmount').val();
				var serviceTotalPeriod = $('#serviceTotalPeriod');
				// 총 서비스 기간(일) 계산
				var totalServiceDate = Number(serviceName * serviceAmount); 
				serviceTotalPeriod.val(totalServiceDate);
				// 서비스 만료 날짜 
				$('#serviceEndDate').val(moment(serviceRegistrationDate).add(totalServiceDate,'d').format("YYYY-MM-DD"));
				// 총 결제 금액
				var servicePrice = $("#serviceName option:selected").attr('value2') * serviceAmount
				$('#serviceTotalPrice').val(servicePrice);
				// 숫자 콤마(,)
				//$('#serviceTotalPrice').val(servicePrice.toLocaleString());
			});
		
			// 내 사업장 대표코드 모달
			$(document).on('click', '#myMainBizCode', function(){
				$('#dataTableAjax').DataTable({
						destroy: true,
						ajax: {
							url: '/shop/service/serviceRequest/findMyMainBizCode',
		   					type: 'POST',
		   					data: {shopMemberId : '[[${session.SHOPID}]]'},
		   					dataSrc: function(data){
		        				console.table(data);
		        				return data;
		        			}
						},
						columns: [
							{ "data": "선택"},
							{ "data": "mainBusinessCode"},
							{ "data": "businessRegistrationCode"},								
							{ "data": "businessCode"},
							{ "data": "businessLevelCode"},								
							{ "data": "businessCodeRegistrationDate"}								
						],
						columnDefs: [
							{
								targets: [0],
								orderable : false,
								searchable : false,
								render : function(data, type, row){
									var htmlbtn = '<input type="radio" class="mainBusinessCode" name="mainBusinessCode" value="'+ row.mainBusinessCode +'">'
									return htmlbtn;
								}
							}
						]
					});
					var modal = $('.modal');
					$(".exitBtn").click(function(){
						modal.addClass('hidden');
					});
					var overlay = $('.modal_overlay');
					modal.removeClass('hidden');
						
			});
			$(".confirmBtn").click(function(){
				var modal = $('.modal');
				var checkedBox = $('.mainBusinessCode:checked');
 				var mainBusinessCodeName = $('#mainBusinessCodeNameInput');
 				var mainBusinessCodeId = $('#mainBusinessCodeIdInput');
 				var checkedTrName = checkedBox.parent().parent().children().eq(1).text();
 				mainBusinessCodeName.attr('value',checkedBox.val());
 				mainBusinessCodeId.attr('value',checkedTrName);
				modal.addClass('hidden');
			});
});
	</script>
<!-- /script -->
</th:block>
<th:block layout:fragment="customContents">
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
	<!-- Content Header (Page header) -->
	<div class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
					<h1 class="m-0">서비스 계약 요청 등록하기</h1>
				</div>
				<!-- /.col -->
				<div class="col-sm-6">
					<ol class="breadcrumb float-sm-right">
						<li class="breadcrumb-item"><a href="#">Home</a></li>
						<li class="breadcrumb-item active">Starter Page</li>
					</ol>
				</div>
				<!-- /.col -->
			</div>
			<!-- /.row -->
		</div>
		<!-- /.container-fluid -->
	</div>
	<!-- /.content-header -->
	<!-- Main content -->
	<div class="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12">
					<div class="card card-success">
						<div class="card-header">
							서비스 계약 요청 등록
						</div>
						<div class="card-body">
							<div class="container">
								<div class="input-form-backgroud row">
									<div class="input-form col-md-12 mx-auto">
										<form class="validation-form" novalidate>
											<div class="row">
												<div class="col-md-6">	
													<label for="mainBusinessCode">사업장 대표코드</label>
													<input type="hidden" id="mainBusinessCodeIdInput" name="mainBusinessCodeId">
													<button type="button" class="btn btn-success btn-lg" id="myMainBizCode" style="height: 27px;padding: 0;margin: 5px;font-size: 14px;" data-toggle="modal" data-target="#myModal">
													내 사업자 대표코드 </button>
													<input type="text" class="inputBox form-control" id="mainBusinessCodeNameInput" name="mainBusinessCodeName" readonly>
													<!-- 로그인한 아이디 select -> 사업장 대표코드 조회 -->
													<!-- ID별 사업장 대표코드 모달 -->
												</div>
											</div>
											<div class="row">
												<div class="col-md-4">
													<label for="serviceName">서비스명</label>
													<select name="serviceNameCheck" id="serviceName" style="height: 38px; text-align:center; display: flex; width: 100%;">
															<th:block th:if="${not #lists.isEmpty(serviceManagement)}" th:each="m : ${serviceManagement}">
																<option th:value="${m.servicePeriod}" th:value2="${m.servicePrice}" th:text="${m.serviceName}">
																	[[${m.serviceName}]]
																</option>
															</th:block>
															<th:block th:unless="${not #lists.isEmpty(serviceManagement)}">
																<option>서비스를 먼저 등록해주세요.</option>
															</th:block>
														</select>
													<div class="invalid-feedback">
														서비스를 선택해주세요.
													</div>
												</div>
												<div class="col-md-4">
													<label for="serviceAmount">서비스 계약수량</label>
													<input type="number" class="myInput form-control" id="serviceAmount" required>
													<div class="invalid-feedback">
														서비스 계약수량을 입력해주세요.
													</div>
												</div>
												<div class="col-md-4">
													<button type="button" id="totalBtn" class="btn btn-success" style="height: 38px;position: absolute; top: 50%;">총 서비스 기간 조회</button>
												</div>
											</div>
											<div class="row">
												<div class="col-md-6 mb-3">
													<label for="serviceRegistrationDate">서비스 시작 예약날짜</label>
													<input type="date" class="form-control" id="serviceRegistrationDate" required>
													<div class="invalid-feedback">
														서비스 시작 예약날짜를 입력해주세요.
													</div>
												</div>
												<div class="col-md-6 mb-3">
													<label for="serviceEndDate">서비스 만료날짜</label>
													<input type="text" class="form-control" id="serviceEndDate" placeholder="2021-01-15" readonly required>
													<div class="invalid-feedback">
														서비스 만료날짜를 입력해주세요.
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-md-6">
													<label for="serviceTotalPeriod">총 서비스 기간(일)</label>
													<input type="text" class="form-control" id="serviceTotalPeriod" readonly>
												</div>
												<div class="col-md-6">
													<label for="serviceTotalPrice">총 결제 금액</label>
													<input type="text" class="form-control" id="serviceTotalPrice" readonly required>
												</div>
											</div>

											<div class="card-footer">
												<button type="button" class="btn btn-success" id="addServiceBtn">등록</button>
												<button type="button" class="btn btn-default float-right" th:href="@{/shop/service/selectServiceRequest}">취소</button>
											</div>
										</form>
									</div>
								</div>
								<footer class="my-3 text-small">
								<div class="custom-control custom-checkbox">
									<input type="checkbox" class="custom-control-input" id="aggrement"><label class="custom-control-label" for="aggrement">개인정보 수집 및 이용에 동의합니다.</label>
								</div>
								</footer>
							</div>
						</div>
						<!-- /card-body -->
					<div class="card-footer">
						<button type="button" class="btn btn-success" id="addServiceBtn">등록</button>
						<button type="button" class="btn btn-default float-right" th:href="@{/shop/service/selectServiceRequest}">취소</button>
					</div>
					</div>
				</div>
				<!-- /.row -->
			</div>
			<!-- /.container-fluid -->
		</div>
		<!-- /.content -->
	</div>
</div>
<!-- /.content-wrapper -->
<!-- 내 사업장 대표코드 조회 모달창 -->
<div class="modal hidden">
	<div class="modal_overlay">
	</div>
	<div class="modal_content">
		<div class="modal_header d-flex justify-content-between">
			<div class="textTitle">
				내 사업장 대표코드
			</div>
			<button class="exitBtn" type="button">
			<i class="fas fa-times-circle"></i>
			</button>
		</div>
		<div class="modal_body">
				<table border="1" id="dataTableAjax" class="dataTable">
					<thead>
						<tr bgcolor="#BDBDBD">
							<th>
								선택
							</th>
							<th>
								사업장별 대표코드
							</th>
							<th>
								사업장 등록코드
							</th>
							<th>
								거래처 구분코드
							</th>
							<th>
								사업장 권한
							</th>
							<th>
								등록일자
							</th>
						</tr>
					</thead>
				</table>
		</div>
		<div class="modal_fotter">
			<button class="btn btn-secondary confirmBtn" type="button">확인</button>
		</div>
	</div>
</div>
<!-- End 모달창 -->
<!--/ 내 사업장 대표코드  -->
		</th:block>
		</html>